# Importing Libraries

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import pandas_datareader as pdr #API wrapper

In [0]:
from bs4 import BeautifulSoup
import requests
import bs4
from urllib.request import urlopen

#Beautiful Soup Documentation
https://www.crummy.com/software/BeautifulSoup/bs4/doc/

# 1. Pick any stock and go to their Yahoo Finance page. 
## I decided to choose Apple for my first stock

---




# 2. Scrape the Summary Statistics starting from "Previous Close" to "1y Target Est".

##Creating Apple Stock Dataframe

In [0]:
# Read url into Python
aapl = requests.get('https://finance.yahoo.com/quote/AAPL')
# Parse HTML object and turn it into a string

In [0]:
# Parse HTML object and turn it into a string using Beautiful Soup library!
aapl_soup = bs4.BeautifulSoup(aapl.text, 'html.parser')

In [0]:
# Find all the column data (containing both labels and values that we need) 
# using the appropriate id: "quote-summary"
aapl_columns = aapl_soup.find(id="quote-summary")

In [0]:
aapl_columns

<div class="Bxz(bb) D(ib) Va(t) Mih(250px)--lgv2 W(100%) Mt(-6px) Mt(0px)--mobp Mt(0px)--mobl W(50%)--lgv2 Mend(20px)--lgv2 Pend(10px)--lgv2 " data-reactid="8" data-test="quote-summary-stats" id="quote-summary"><div class="D(ib) W(1/2) Bxz(bb) Pend(12px) Va(t) ie-7_D(i) smartphone_D(b) smartphone_W(100%) smartphone_Pend(0px) smartphone_BdY smartphone_Bdc($seperatorColor)" data-reactid="9" data-test="left-summary-table"><table class="W(100%)" data-reactid="10"><tbody data-reactid="11"><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="12"><td class="C($primaryColor) W(51%)" data-reactid="13"><span data-reactid="14">Previous Close</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="15" data-test="PREV_CLOSE-value"><span class="Trsdu(0.3s) " data-reactid="16">270.77</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="17"><td class="C($primaryColor) W(51%)" data-reactid="18"><span data-reactid="19">Open</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="20" data-test="OPEN-value"><span class="Trsdu(0.3s) " data-reactid="21">267.78</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="22"><td class="C($primaryColor) W(51%)" data-reactid="23"><span data-reactid="24">Bid</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="25" data-test="BID-value"><span class="Trsdu(0.3s) " data-reactid="26">272.65 x 1000</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="27"><td class="C($primaryColor) W(51%)" data-reactid="28"><span data-reactid="29">Ask</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="30" data-test="ASK-value"><span class="Trsdu(0.3s) " data-reactid="31">272.74 x 1300</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="32"><td class="C($primaryColor) W(51%)" data-reactid="33"><span data-reactid="34">Day's Range</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="35" data-test="DAYS_RANGE-value">267.32 - 272.55</td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="36"><td class="C($primaryColor) W(51%)" data-reactid="37"><span data-reactid="38">52 Week Range</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="39" data-test="FIFTY_TWO_WK_RANGE-value">142.00 - 272.56</td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="40"><td class="C($primaryColor) W(51%)" data-reactid="41"><span data-reactid="42">Volume</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="43" data-test="TD_VOLUME-value"><span class="Trsdu(0.3s) " data-reactid="44">34,437,042</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) Bdbw(0)! " data-reactid="45"><td class="C($primaryColor) W(51%)" data-reactid="46"><span data-reactid="47">Avg. Volume</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="48" data-test="AVERAGE_VOLUME_3MONTH-value"><span class="Trsdu(0.3s) " data-reactid="49">25,060,826</span></td></tr></tbody></table></div><div class="D(ib) W(1/2) Bxz(bb) Pstart(12px) Va(t) ie-7_D(i) ie-7_Pos(a) smartphone_D(b) smartphone_W(100%) smartphone_Pstart(0px) smartphone_BdB smartphone_Bdc($seperatorColor)" data-reactid="50" data-test="right-summary-table"><table class="W(100%) M(0) Bdcl(c)" data-reactid="51"><tbody data-reactid="52"><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="53"><td class="C($primaryColor) W(51%)" data-reactid="54"><span data-reactid="55">Market Cap</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="56" data-test="MARKET_CAP-value"><span class="Trsdu(0.3s) " data-reactid="57">1.2T</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="58"><td class="C($primaryColor) W(51%)" data-reactid="59"><span data-reactid="60">Beta (5Y Monthly)</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="61" data-test="BETA_5Y-value"><span class="Trsdu(0.3s) " data-reactid="62">1.23</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="63"><td class="C($primaryColor) W(51%)" data-reactid="64"><span data-reactid="65">PE Ratio (TTM)</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="66" data-test="PE_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="67">22.83</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="68"><td class="C($primaryColor) W(51%)" data-reactid="69"><span data-reactid="70">EPS (TTM)</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="71" data-test="EPS_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="72">11.89</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="73"><td class="C($primaryColor) W(51%)" data-reactid="74"><span data-reactid="75">Earnings Date</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="76" data-test="EARNINGS_DATE-value"><span data-reactid="77">Jan 27, 2020</span><!-- react-text: 78 --> - <!-- /react-text --><span data-reactid="79">Jan 31, 2020</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="80"><td class="C($primaryColor) W(51%)" data-reactid="81"><span data-reactid="82">Forward Dividend &amp; Yield</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="83" data-test="DIVIDEND_AND_YIELD-value">3.08 (1.14%)</td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) " data-reactid="84"><td class="C($primaryColor) W(51%)" data-reactid="85"><span data-reactid="86">Ex-Dividend Date</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="87" data-test="EX_DIVIDEND_DATE-value"><span class="Trsdu(0.3s) " data-reactid="88">2019-11-07</span></td></tr><tr class="Bxz(bb) Bdbw(1px) Bdbs(s) Bdc($seperatorColor) H(36px) Bdbw(0)! " data-reactid="89"><td class="C($primaryColor) W(51%)" data-reactid="90"><span data-reactid="91">1y Target Est</span></td><td class="Ta(end) Fw(600) Lh(14px)" data-reactid="92" data-test="ONE_YEAR_TARGET_PRICE-value"><span class="Trsdu(0.3s) " data-reactid="93">262.85</span></td></tr></tbody></table></div></div>

In [0]:
# Find out what type of the object does the column data represent
type(aapl_columns) # This data happents to be a tag!

bs4.element.Tag

###Finding all of the data (labels and values) that are identified by a specific tag key ("td")

In [0]:
aapl_columns.find_all('td')

[<td class="C($primaryColor) W(51%)" data-reactid="13"><span data-reactid="14">Previous Close</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="15" data-test="PREV_CLOSE-value"><span class="Trsdu(0.3s) " data-reactid="16">270.77</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="18"><span data-reactid="19">Open</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="20" data-test="OPEN-value"><span class="Trsdu(0.3s) " data-reactid="21">267.78</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="23"><span data-reactid="24">Bid</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="25" data-test="BID-value"><span class="Trsdu(0.3s) " data-reactid="26">272.65 x 1000</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="28"><span data-reactid="29">Ask</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="30" data-test="ASK-value"><span class="Trsdu(0.3s) " data-reactid="31">272.74 x 1300</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="33"><span data-reactid="34">Day's Range</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="35" data-test="DAYS_RANGE-value">267.32 - 272.55</td>,
 <td class="C($primaryColor) W(51%)" data-reactid="37"><span data-reactid="38">52 Week Range</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="39" data-test="FIFTY_TWO_WK_RANGE-value">142.00 - 272.56</td>,
 <td class="C($primaryColor) W(51%)" data-reactid="41"><span data-reactid="42">Volume</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="43" data-test="TD_VOLUME-value"><span class="Trsdu(0.3s) " data-reactid="44">34,437,042</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="46"><span data-reactid="47">Avg. Volume</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="48" data-test="AVERAGE_VOLUME_3MONTH-value"><span class="Trsdu(0.3s) " data-reactid="49">25,060,826</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="54"><span data-reactid="55">Market Cap</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="56" data-test="MARKET_CAP-value"><span class="Trsdu(0.3s) " data-reactid="57">1.2T</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="59"><span data-reactid="60">Beta (5Y Monthly)</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="61" data-test="BETA_5Y-value"><span class="Trsdu(0.3s) " data-reactid="62">1.23</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="64"><span data-reactid="65">PE Ratio (TTM)</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="66" data-test="PE_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="67">22.83</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="69"><span data-reactid="70">EPS (TTM)</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="71" data-test="EPS_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="72">11.89</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="74"><span data-reactid="75">Earnings Date</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="76" data-test="EARNINGS_DATE-value"><span data-reactid="77">Jan 27, 2020</span><!-- react-text: 78 --> - <!-- /react-text --><span data-reactid="79">Jan 31, 2020</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="81"><span data-reactid="82">Forward Dividend &amp; Yield</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="83" data-test="DIVIDEND_AND_YIELD-value">3.08 (1.14%)</td>,
 <td class="C($primaryColor) W(51%)" data-reactid="85"><span data-reactid="86">Ex-Dividend Date</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="87" data-test="EX_DIVIDEND_DATE-value"><span class="Trsdu(0.3s) " data-reactid="88">2019-11-07</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="90"><span data-reactid="91">1y Target Est</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="92" data-test="ONE_YEAR_TARGET_PRICE-value"><span class="Trsdu(0.3s) " data-reactid="93">262.85</span></td>]

###Stock data values is identified by the tag key: "Ta(end) Fw(600) Lh(14px)"

In [0]:
# Convert the data values into text and put them into a list
aapl_values = [v.text for v in aapl_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]

In [0]:
aapl_values

['270.77',
 '267.78',
 '272.65 x 1000',
 '272.74 x 1300',
 '267.32 - 272.55',
 '142.00 - 272.56',
 '34,437,042',
 '25,060,826',
 '1.2T',
 '1.23',
 '22.83',
 '11.89',
 'Jan 27, 2020 - Jan 31, 2020',
 '3.08 (1.14%)',
 '2019-11-07',
 '262.85']

##Now we must find the appropriate column names (labels) corresponding to each value we need

###These are our stock data values tags

In [0]:
[l for l in aapl_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]

[<td class="Ta(end) Fw(600) Lh(14px)" data-reactid="15" data-test="PREV_CLOSE-value"><span class="Trsdu(0.3s) " data-reactid="16">270.77</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="20" data-test="OPEN-value"><span class="Trsdu(0.3s) " data-reactid="21">267.78</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="25" data-test="BID-value"><span class="Trsdu(0.3s) " data-reactid="26">272.65 x 1000</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="30" data-test="ASK-value"><span class="Trsdu(0.3s) " data-reactid="31">272.74 x 1300</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="35" data-test="DAYS_RANGE-value">267.32 - 272.55</td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="39" data-test="FIFTY_TWO_WK_RANGE-value">142.00 - 272.56</td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="43" data-test="TD_VOLUME-value"><span class="Trsdu(0.3s) " data-reactid="44">34,437,042</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="48" data-test="AVERAGE_VOLUME_3MONTH-value"><span class="Trsdu(0.3s) " data-reactid="49">25,060,826</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="56" data-test="MARKET_CAP-value"><span class="Trsdu(0.3s) " data-reactid="57">1.2T</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="61" data-test="BETA_5Y-value"><span class="Trsdu(0.3s) " data-reactid="62">1.23</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="66" data-test="PE_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="67">22.83</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="71" data-test="EPS_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="72">11.89</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="76" data-test="EARNINGS_DATE-value"><span data-reactid="77">Jan 27, 2020</span><!-- react-text: 78 --> - <!-- /react-text --><span data-reactid="79">Jan 31, 2020</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="83" data-test="DIVIDEND_AND_YIELD-value">3.08 (1.14%)</td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="87" data-test="EX_DIVIDEND_DATE-value"><span class="Trsdu(0.3s) " data-reactid="88">2019-11-07</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="92" data-test="ONE_YEAR_TARGET_PRICE-value"><span class="Trsdu(0.3s) " data-reactid="93">262.85</span></td>]

###These are our stock data column tags!
* This is found by looking at the list of data containing labels and values and picking out the tags from the entire list of relevant tags that are not tags that represent our data values, but instead refer to our labels.

In [0]:
[l for l in aapl_columns.find_all('td') if l not in aapl_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]

[<td class="C($primaryColor) W(51%)" data-reactid="13"><span data-reactid="14">Previous Close</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="18"><span data-reactid="19">Open</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="23"><span data-reactid="24">Bid</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="28"><span data-reactid="29">Ask</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="33"><span data-reactid="34">Day's Range</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="37"><span data-reactid="38">52 Week Range</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="41"><span data-reactid="42">Volume</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="46"><span data-reactid="47">Avg. Volume</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="54"><span data-reactid="55">Market Cap</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="59"><span data-reactid="60">Beta (5Y Monthly)</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="64"><span data-reactid="65">PE Ratio (TTM)</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="69"><span data-reactid="70">EPS (TTM)</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="74"><span data-reactid="75">Earnings Date</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="81"><span data-reactid="82">Forward Dividend &amp; Yield</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="85"><span data-reactid="86">Ex-Dividend Date</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="90"><span data-reactid="91">1y Target Est</span></td>]

In [0]:
aapl_labels = [l for l in aapl_columns.find_all('td') if l not in aapl_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]

In [0]:
# Convert the labels into text and put them into a list.
aapl_labels = [l.text for l in aapl_labels]

###Here are our column names!

In [0]:
aapl_labels

['Previous Close',
 'Open',
 'Bid',
 'Ask',
 "Day's Range",
 '52 Week Range',
 'Volume',
 'Avg. Volume',
 'Market Cap',
 'Beta (5Y Monthly)',
 'PE Ratio (TTM)',
 'EPS (TTM)',
 'Earnings Date',
 'Forward Dividend & Yield',
 'Ex-Dividend Date',
 '1y Target Est']

###Here are our column values!

In [0]:
aapl_values

['270.77',
 '267.78',
 '272.65 x 1000',
 '272.74 x 1300',
 '267.32 - 272.55',
 '142.00 - 272.56',
 '34,437,042',
 '25,060,826',
 '1.2T',
 '1.23',
 '22.83',
 '11.89',
 'Jan 27, 2020 - Jan 31, 2020',
 '3.08 (1.14%)',
 '2019-11-07',
 '262.85']

##Now, we make a preliminary dataframe base given we have our labels and values

In [0]:
aapl_df = pd.DataFrame({'labels': aapl_labels, 'values':aapl_values})

### Now, we can make another dataframe so that has the same content as the preliminary datatframe but clean this second dataframe wihout worrying about messing anything up.

In [0]:
aapl_df1 = aapl_df
for l in range(len(aapl_labels)): # For every label
  # Make a column that contains the value corresponding to that column
  aapl_df1[aapl_labels[l]] = aapl_values[l]

In [0]:
# Now, we can drop the 'labels' and 'values' columns.
aapl_df1 = aapl_df1.drop(['labels', 'values'], axis = 1)
# Return our uncleaned dataframe
# Note: we have too many rows so we must take care of this in the next few steps
aapl_df1

   Previous Close    Open  ... Ex-Dividend Date 1y Target Est
0          270.77  267.78  ...       2019-11-07        262.85
1          270.77  267.78  ...       2019-11-07        262.85
2          270.77  267.78  ...       2019-11-07        262.85
3          270.77  267.78  ...       2019-11-07        262.85
4          270.77  267.78  ...       2019-11-07        262.85
5          270.77  267.78  ...       2019-11-07        262.85
6          270.77  267.78  ...       2019-11-07        262.85
7          270.77  267.78  ...       2019-11-07        262.85
8          270.77  267.78  ...       2019-11-07        262.85
9          270.77  267.78  ...       2019-11-07        262.85
10         270.77  267.78  ...       2019-11-07        262.85
11         270.77  267.78  ...       2019-11-07        262.85
12         270.77  267.78  ...       2019-11-07        262.85
13         270.77  267.78  ...       2019-11-07        262.85
14         270.77  267.78  ...       2019-11-07        262.85
15         270.77  267.78  ...       2019-11-07        262.85

[16 rows x 16 columns]

In [0]:
# The url section that every request has in common can possibly be a good index for merging.
aapl_df1['url_b4_ticker'] = 'https://finance.yahoo.com/quote/'

In [0]:
# Get rid of all of the excess rows in the dataframe
aapl_df1 = aapl_df1[0:1]
aapl_df1

  Previous Close    Open  ... 1y Target Est                     url_b4_ticker
0         270.77  267.78  ...        262.85  https://finance.yahoo.com/quote/

[1 rows x 17 columns]

### Now, let's create a new column called "Stocks" that holds our ticker symbol. This will be beneficial when we merge multiple dataframes.

In [0]:
# Let's forget about indexing based off common url segments
aapl_summary = aapl_df1.drop('url_b4_ticker', axis = 1)
# Insert a new column (in the first column slot) called "Stocks" with a corresponding string (which would be our ticker symbol) 
aapl_summary.insert(0, "Stock", "AAPL")
aapl_summary

  Stock Previous Close  ... Ex-Dividend Date 1y Target Est
0  AAPL         270.77  ...       2019-11-07        262.85

[1 rows x 17 columns]

###Now that we have a column that we can use for merging, let's use it as our index.

In [0]:
aapl_summary = aapl_summary.set_index('Stock')
aapl_summary

      Previous Close    Open  ... Ex-Dividend Date 1y Target Est
Stock                         ...
AAPL          270.77  267.78  ...       2019-11-07        262.85

[1 rows x 16 columns]

# 3. Clean up the Apple (AAPL) dataframe


---
The goal will be to make new columns with new column names (within reason) and appropriate dtypes and just drop all of the original columns. For example, a new column 'Previous_Close' will take the float casted value of the corresponding original column 'Previous Close'

##Let's first find out what are the dtypes of each of these columns

In [0]:
aapl_summary.info()

#### We can see that we have some strings and we have some series objects. The series objects can be viewed as lists containing one string so our process for these objects would be to use iloc[0] to extract the string, cast the string into into appropriate dtype (some parsing may be necessary), and then, create a new column that contains this new value.

In [0]:
# First, Convert the strings corresponding to the more simple columns (the ones that can easily be casted as floats or ints)
aapl_summary['Previous_Close'] = float(pd.to_numeric(aapl_summary['Previous Close']))
aapl_summary['Open'] = float(pd.to_numeric(aapl_summary['Open']))
aapl_summary['Beta_(5Y_Monthly)'] = float(pd.to_numeric(aapl_summary['Beta (5Y Monthly)']))
aapl_summary['PE_Ratio_(TTM)'] = float(pd.to_numeric(aapl_summary['PE Ratio (TTM)']))
aapl_summary['EPS_(TTM)'] = float(pd.to_numeric(aapl_summary['EPS (TTM)']))
aapl_summary['1y_Target_Est'] = float(pd.to_numeric(aapl_summary['1y Target Est']))

#---Now we convert the harder strings---------------------------------------#--- 
# NOTE: some of these columns will be heavily parsed and be split into 2 or 3 columns

# Bids
aapl_summary['Bid_Price'] = float(pd.to_numeric(aapl_summary['Bid'].iloc[0][:aapl_summary['Bid'].iloc[0].find(' x ')]))
aapl_summary['Bid_Size'] = float(pd.to_numeric(aapl_summary['Bid'].iloc[0][aapl_summary['Bid'].iloc[0].find(' x ')+3:]))
# Asks
aapl_summary['Ask_Price'] = float(pd.to_numeric(aapl_summary['Ask'].iloc[0][:aapl_summary['Ask'].iloc[0].find(' x ')]))
aapl_summary['Ask_Size'] = float(pd.to_numeric(aapl_summary['Ask'].iloc[0][aapl_summary['Ask'].iloc[0].find(' x ')+3:]))
# Day's Range
aapl_summary["Day's_Min_Price"] = float(pd.to_numeric(aapl_summary["Day's Range"].iloc[0][:aapl_summary["Day's Range"].iloc[0].find(' - ')]))
aapl_summary["Day's_Max_Price"] = float(pd.to_numeric(aapl_summary["Day's Range"].iloc[0][aapl_summary["Day's Range"].iloc[0].find(' - ')+3:]))
aapl_summary["Day's_Price_Range"] = float(aapl_summary["Day's_Max_Price"] - aapl_summary["Day's_Min_Price"])
# 52 Week Range
aapl_summary["52wk_Min_Price"] = float(pd.to_numeric(aapl_summary["52 Week Range"].iloc[0][:aapl_summary["52 Week Range"].iloc[0].find(' - ')]))
aapl_summary["52wk_Max_Price"] = float(pd.to_numeric(aapl_summary["52 Week Range"].iloc[0][aapl_summary["52 Week Range"].iloc[0].find(' - ')+3:]))
aapl_summary["52wk_Price_Range"] = aapl_summary["52wk_Max_Price"] - aapl_summary["52wk_Min_Price"]
# Market Cap
if aapl_summary['Market Cap'].iloc[0][-1] == "T":
  aapl_summary['Market_Cap'] = float(pd.to_numeric(aapl_summary['Market Cap'].iloc[0][:-1])*1000000000000)
elif aapl_summary['Market Cap'].iloc[0][-1] == "B":
  aapl_summary['Market_Cap'] = float(pd.to_numeric(aapl_summary['Market Cap'].iloc[0][:-1])*1000000000)
# Volumes
aapl_summary['VOLUME'] = float(pd.to_numeric(aapl_summary['Volume'].iloc[0].replace(",", "")))
aapl_summary['AVG_VOLUME'] = float(pd.to_numeric(aapl_summary['Avg. Volume'].iloc[0].replace(",", "")))
# Forward Dividend & Yield
aapl_summary['Forward_Dividend'] = float(pd.to_numeric(aapl_summary['Forward Dividend & Yield'].iloc[0][:aapl_summary['Forward Dividend & Yield'].iloc[0].find(' (')]))
aapl_summary['Yield'] = float(pd.to_numeric(aapl_summary['Forward Dividend & Yield'].iloc[0][aapl_summary['Forward Dividend & Yield'].iloc[0].find('(')+1:aapl_summary['Forward Dividend & Yield'].iloc[0].find('%(')-1]))*0.01
# Earnings Date
from datetime import datetime # We will use the datetime.strptime() to convert a string date into a datetime w/ a format of our choice
# Extract the string corresponding to the first date in the range (this will be considered the start earnings date)
st=aapl_summary["Earnings Date"].iloc[0][:aapl_summary["Earnings Date"].iloc[0].find(' - ')]
st
aapl_summary["Earnings_Start_Date"] = datetime.strptime(st,'%b %d, %Y')
# The same type of procesx is repeated above but for the second earnings date in the range: end earnings date
end = aapl_summary["Earnings Date"].iloc[0][aapl_summary["Earnings Date"].iloc[0].find(' - ')+3:]
end
aapl_summary["Earnings_End_Date"] = datetime.strptime(end,'%b %d, %Y')
# Ex-Dividend Date
dvdt = aapl_summary['Ex-Dividend Date'].iloc[0] 
aapl_summary["Ex_Dividend_Date"] = datetime.strptime(dvdt,"%Y-%m-%d")

###Now, all we need to do is drop the original columns and return our new and cleaned dataframe!

In [0]:
aapl_summary = aapl_summary.drop(['Previous Close','Ex-Dividend Date',
                                  'Forward Dividend & Yield',"Earnings Date",
                                  'Open','Beta (5Y Monthly)','PE Ratio (TTM)',
                                  'EPS (TTM)','1y Target Est','Bid','Ask',
                                  "Day's Range","52 Week Range",'Market Cap',
                                  'Volume','Avg. Volume'], axis = 1)

aapl_summary

       Previous_Close  Beta_(5Y_Monthly)  ...  Earnings_End_Date  Ex_Dividend_Date
Stock                                     ...
AAPL           270.77               1.23  ...         2020-01-31        2019-11-07

[1 rows x 23 columns]

# 4. Repeat this process for another stock and merge the two cleaned dataframes.

##Creating Microsoft (MSFT) Stock Dataframe
* Note: this code will not be commented as it will consist of basically the same exact code as seen above. The only difference is that the prefixes of dataframes or lists, etc... will correspond the microsoft ticker symbol "msft".

In [0]:
msft = requests.get('https://finance.yahoo.com/quote/MSFT')

In [0]:
msft_soup = bs4.BeautifulSoup(msft.text, 'html.parser')

In [0]:
msft_columns = msft_soup.find(id="quote-summary")

In [0]:
msft_columns.find_all('td')

[<td class="C($primaryColor) W(51%)" data-reactid="13"><span data-reactid="14">Previous Close</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="15" data-test="PREV_CLOSE-value"><span class="Trsdu(0.3s) " data-reactid="16">151.70</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="18"><span data-reactid="19">Open</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="20" data-test="OPEN-value"><span class="Trsdu(0.3s) " data-reactid="21">151.65</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="23"><span data-reactid="24">Bid</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="25" data-test="BID-value"><span class="Trsdu(0.3s) " data-reactid="26">153.57 x 1800</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="28"><span data-reactid="29">Ask</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="30" data-test="ASK-value"><span class="Trsdu(0.3s) " data-reactid="31">154.04 x 900</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="33"><span data-reactid="34">Day's Range</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="35" data-test="DAYS_RANGE-value">151.02 - 153.44</td>,
 <td class="C($primaryColor) W(51%)" data-reactid="37"><span data-reactid="38">52 Week Range</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="39" data-test="FIFTY_TWO_WK_RANGE-value">93.96 - 153.44</td>,
 <td class="C($primaryColor) W(51%)" data-reactid="41"><span data-reactid="42">Volume</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="43" data-test="TD_VOLUME-value"><span class="Trsdu(0.3s) " data-reactid="44">24,645,366</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="46"><span data-reactid="47">Avg. Volume</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="48" data-test="AVERAGE_VOLUME_3MONTH-value"><span class="Trsdu(0.3s) " data-reactid="49">21,940,609</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="54"><span data-reactid="55">Market Cap</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="56" data-test="MARKET_CAP-value"><span class="Trsdu(0.3s) " data-reactid="57">1.2T</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="59"><span data-reactid="60">Beta (5Y Monthly)</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="61" data-test="BETA_5Y-value"><span class="Trsdu(0.3s) " data-reactid="62">1.23</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="64"><span data-reactid="65">PE Ratio (TTM)</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="66" data-test="PE_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="67">28.91</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="69"><span data-reactid="70">EPS (TTM)</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="71" data-test="EPS_RATIO-value"><span class="Trsdu(0.3s) " data-reactid="72">5.30</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="74"><span data-reactid="75">Earnings Date</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="76" data-test="EARNINGS_DATE-value"><span data-reactid="77">Jan 28, 2020</span><!-- react-text: 78 --> - <!-- /react-text --><span data-reactid="79">Feb 3, 2020</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="81"><span data-reactid="82">Forward Dividend &amp; Yield</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="83" data-test="DIVIDEND_AND_YIELD-value">2.04 (1.33%)</td>,
 <td class="C($primaryColor) W(51%)" data-reactid="85"><span data-reactid="86">Ex-Dividend Date</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="87" data-test="EX_DIVIDEND_DATE-value"><span class="Trsdu(0.3s) " data-reactid="88">2020-02-19</span></td>,
 <td class="C($primaryColor) W(51%)" data-reactid="90"><span data-reactid="91">1y Target Est</span></td>,
 <td class="Ta(end) Fw(600) Lh(14px)" data-reactid="92" data-test="ONE_YEAR_TARGET_PRICE-value"><span class="Trsdu(0.3s) " data-reactid="93">160.69</span></td>]

In [0]:
msft_values = [v.text for v in msft_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]

In [0]:
msft_labels = [l for l in msft_columns.find_all('td') if l not in msft_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]
msft_labels = [l.text for l in msft_labels]

In [0]:
msft_labels

['Previous Close',
 'Open',
 'Bid',
 'Ask',
 "Day's Range",
 '52 Week Range',
 'Volume',
 'Avg. Volume',
 'Market Cap',
 'Beta (5Y Monthly)',
 'PE Ratio (TTM)',
 'EPS (TTM)',
 'Earnings Date',
 'Forward Dividend & Yield',
 'Ex-Dividend Date',
 '1y Target Est']

In [0]:
msft_values

['151.70',
 '151.65',
 '153.57 x 1800',
 '154.04 x 900',
 '151.02 - 153.44',
 '93.96 - 153.44',
 '24,645,366',
 '21,940,609',
 '1.2T',
 '1.23',
 '28.91',
 '5.30',
 'Jan 28, 2020 - Feb 3, 2020',
 '2.04 (1.33%)',
 '2020-02-19',
 '160.69']

In [0]:
msft_df = pd.DataFrame({'labels': msft_labels, 'values':msft_values})

msft_df1 = msft_df
for l in range(len(msft_labels)):
  msft_df1[msft_labels[l]] = msft_values[l]

msft_df1 = msft_df1.drop(['labels', 'values'], axis = 1)

msft_df1 = msft_df1[0:1]

In [0]:
msft_df1['url_b4_ticker'] = 'https://finance.yahoo.com/quote/'

In [0]:
msft_df1

  Previous Close    Open  ... 1y Target Est                     url_b4_ticker
0         151.70  151.65  ...        160.69  https://finance.yahoo.com/quote/

[1 rows x 17 columns]

In [0]:
msft_summary = msft_df1.drop('url_b4_ticker', axis = 1)
msft_summary.insert(0, "Stock", "MSFT")
msft_summary

  Stock Previous Close  ... Ex-Dividend Date 1y Target Est
0  MSFT         151.70  ...       2020-02-19        160.69

[1 rows x 17 columns]

In [0]:
msft_summary = msft_summary.set_index('Stock')
msft_summary

      Previous Close    Open  ... Ex-Dividend Date 1y Target Est
Stock                         ...
MSFT          151.70  151.65  ...       2020-02-19        160.69

[1 rows x 16 columns]

In [0]:
# Convert the easy strings first (the ones that can easily be casted as floats or ints)
msft_summary['Previous_Close'] = float(pd.to_numeric(msft_summary['Previous Close']))
msft_summary['Open'] = float(pd.to_numeric(msft_summary['Open']))
msft_summary['Beta_(5Y_Monthly)'] = float(pd.to_numeric(msft_summary['Beta (5Y Monthly)']))
msft_summary['PE_Ratio_(TTM)'] = float(pd.to_numeric(msft_summary['PE Ratio (TTM)']))
msft_summary['EPS_(TTM)'] = float(pd.to_numeric(msft_summary['EPS (TTM)']))
msft_summary['1y_Target_Est'] = float(pd.to_numeric(msft_summary['1y Target Est']))

#---Now we convert the harder strings---------------------------------------#--- 

# Bids
msft_summary['Bid_Price'] = float(pd.to_numeric(msft_summary['Bid'].iloc[0][:msft_summary['Bid'].iloc[0].find(' x ')]))
msft_summary['Bid_Size'] = float(pd.to_numeric(msft_summary['Bid'].iloc[0][msft_summary['Bid'].iloc[0].find(' x ')+3:]))
# Asks
msft_summary['Ask_Price'] = float(pd.to_numeric(msft_summary['Ask'].iloc[0][:msft_summary['Ask'].iloc[0].find(' x ')]))
msft_summary['Ask_Size'] = float(pd.to_numeric(msft_summary['Ask'].iloc[0][msft_summary['Ask'].iloc[0].find(' x ')+3:]))
# Day's Range
msft_summary["Day's_Min_Price"] = float(pd.to_numeric(msft_summary["Day's Range"].iloc[0][:msft_summary["Day's Range"].iloc[0].find(' - ')]))
msft_summary["Day's_Max_Price"] = float(pd.to_numeric(msft_summary["Day's Range"].iloc[0][msft_summary["Day's Range"].iloc[0].find(' - ')+3:]))
msft_summary["Day's_Price_Range"] = float(msft_summary["Day's_Max_Price"] - msft_summary["Day's_Min_Price"])
# 52 Week Range
msft_summary["52wk_Min_Price"] = float(pd.to_numeric(msft_summary["52 Week Range"].iloc[0][:msft_summary["52 Week Range"].iloc[0].find(' - ')]))
msft_summary["52wk_Max_Price"] = float(pd.to_numeric(msft_summary["52 Week Range"].iloc[0][msft_summary["52 Week Range"].iloc[0].find(' - ')+3:]))
msft_summary["52wk_Price_Range"] = msft_summary["52wk_Max_Price"] - msft_summary["52wk_Min_Price"]
# Market Cap
if msft_summary['Market Cap'].iloc[0][-1] == "T":
  msft_summary['Market_Cap'] = float(pd.to_numeric(msft_summary['Market Cap'].iloc[0][:-1])*1000000000000)
elif msft_summary['Market Cap'].iloc[0][-1] == "B":
  msft_summary['Market_Cap'] = float(pd.to_numeric(msft_summary['Market Cap'].iloc[0][:-1])*1000000000)
# Volumes
msft_summary['VOLUME'] = float(pd.to_numeric(msft_summary['Volume'].iloc[0].replace(",", "")))
msft_summary['AVG_VOLUME'] = float(pd.to_numeric(msft_summary['Avg. Volume'].iloc[0].replace(",", "")))
# Forward Dividend & Yield
msft_summary['Forward_Dividend'] = float(pd.to_numeric(msft_summary['Forward Dividend & Yield'].iloc[0][:msft_summary['Forward Dividend & Yield'].iloc[0].find(' (')]))
msft_summary['Yield'] = float(pd.to_numeric(msft_summary['Forward Dividend & Yield'].iloc[0][msft_summary['Forward Dividend & Yield'].iloc[0].find('(')+1:msft_summary['Forward Dividend & Yield'].iloc[0].find('%(')-1]))*0.01
# Earnings Date
from datetime import datetime

st=msft_summary["Earnings Date"].iloc[0][:msft_summary["Earnings Date"].iloc[0].find(' - ')]
st
msft_summary["Earnings_Start_Date"] = datetime.strptime(st,'%b %d, %Y')

end = msft_summary["Earnings Date"].iloc[0][msft_summary["Earnings Date"].iloc[0].find(' - ')+3:]
end
msft_summary["Earnings_End_Date"] = datetime.strptime(end,'%b %d, %Y')
# Ex-Dividend Date
dvdt = msft_summary['Ex-Dividend Date'].iloc[0] 
msft_summary["Ex_Dividend_Date"] = datetime.strptime(dvdt,"%Y-%m-%d")

In [0]:
msft_summary = msft_summary.drop(['Previous Close','Ex-Dividend Date',
                                  'Forward Dividend & Yield',"Earnings Date",
                                  'Open','Beta (5Y Monthly)','PE Ratio (TTM)',
                                  'EPS (TTM)','1y Target Est','Bid','Ask',
                                  "Day's Range","52 Week Range",'Market Cap',
                                  'Volume','Avg. Volume'], axis = 1)

msft_summary

       Previous_Close  Beta_(5Y_Monthly)  ...  Earnings_End_Date  Ex_Dividend_Date
Stock                                     ...
MSFT            151.7               1.23  ...         2020-02-03        2020-02-19

[1 rows x 23 columns]

##Merging Microsoft (MSFT) and Apple (AAPL) Dataframes


---
Given the two data frames share the same index and overall format, one just needs to concatenate the two dataframes

In [0]:
pd.concat([aapl_summary, msft_summary])

       Previous_Close  Beta_(5Y_Monthly)  ...  Earnings_End_Date  Ex_Dividend_Date
Stock                                     ...
AAPL           270.77               1.23  ...         2020-01-31        2019-11-07
MSFT           151.70               1.23  ...         2020-02-03        2020-02-19

[2 rows x 23 columns]

# 5. Define a function that allows you to do this process for many stocks.

## Summary Statistics for Yahoo Finance Stocks

---
We will use Nike (NKE), Apple (AAPL), and Microsoft (MSFT) as our test case.

In [0]:
import pprint

###The goal here will be to make a nested dictionary that can basically be turned into a dataframe and does not require me to make preliminary dataframes and do extra cleaning (before the real parsing and data cleaning begins).

In [0]:
#tickers = [t.upper() for t in tickers]
tickers = ['NKE','AAPL','MSFT'] # Our list of stock tickers
results = {} # Initialize an empty dictionary which will be filled with all of the necessary info
with requests.Session() as s: # For a given session where we are getting stock data
  
  for ticker in tickers: # For a ticker in the list of tickers
  ###-----HERE WE ARE BASICALLY JUST GETTING OUR COLUMN NAMES AD VALUES IN THE SAME WAY WE DID IT BEFORE SO NOTHING SPECIAL HERE---###

    stock = s.get('https://finance.yahoo.com/quote/' + ticker)
    stock_soup = bs4.BeautifulSoup(stock.text, 'html.parser')
    
    stock_columns = stock_soup.find(id="quote-summary") 
    stock_columns.find_all('td')
    
    stock_labels = [l for l in stock_columns.find_all('td') if l not in stock_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]
    stock_labels = [l.text for l in stock_labels]
    stock_values = [v.text for v in stock_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]
  ###---HERE WE MAKE A DICTIONARY THAT BASICALLY HAS OUR KEYS BE OUR COLUMN LABELS AND OUR COLUMN VALUES BE THE 
  ###---DATA CORRESPONDING TO EACH KEY
    res = {stock_labels[i]: stock_values[i] for i in range(len(stock_labels))} 
    
    results[ticker] = res # NOW FOR EACH STOCK DENOTED BY A TICKER, WE BASICALLY HAVE OUR TICKER SYMBOL BE THE KEY FOR THE
                          # CORRESPONDING STOCK DATA IN THE WE JUST MADE ABOVE. THIS CREATES A NESTED DICTIONARY.

pprint.pprint(results) ## PRINT OUR RESULTANT DICTIONARY

{'AAPL': {'1y Target Est': '262.85',
          '52 Week Range': '142.00 - 272.56',
          'Ask': '272.74 x 1300',
          'Avg. Volume': '25,060,826',
          'Beta (5Y Monthly)': '1.23',
          'Bid': '272.65 x 1000',
          "Day's Range": '267.32 - 272.55',
          'EPS (TTM)': '11.89',
          'Earnings Date': 'Jan 27, 2020 - Jan 31, 2020',
          'Ex-Dividend Date': '2019-11-07',
          'Forward Dividend & Yield': '3.08 (1.14%)',
          'Market Cap': '1.2T',
          'Open': '267.78',
          'PE Ratio (TTM)': '22.83',
          'Previous Close': '270.77',
          'Volume': '34,437,042'},
 'MSFT': {'1y Target Est': '160.69',
          '52 Week Range': '93.96 - 153.44',
          'Ask': '154.04 x 900',
          'Avg. Volume': '21,940,609',
          'Beta (5Y Monthly)': '1.23',
          'Bid': '153.57 x 1800',
          "Day's Range": '151.02 - 153.44',
          'EPS (TTM)': '5.30',
          'Earnings Date': 'Jan 28, 2020 - Feb 3, 2020',
          'Ex-Dividend Date': '2020-02-19',
          'Forward Dividend & Yield': '2.04 (1.33%)',
          'Market Cap': '1.2T',
          'Open': '151.65',
          'PE Ratio (TTM)': '28.91',
          'Previous Close': '151.70',
          'Volume': '24,645,366'},
 'NKE': {'1y Target Est': '103.60',
         '52 Week Range': '66.53 - 98.18',
         'Ask': '98.40 x 1100',
         'Avg. Volume': '6,331,448',
         'Beta (5Y Monthly)': '0.83',
         'Bid': '98.30 x 1100',
         "Day's Range": '96.90 - 98.18',
         'EPS (TTM)': '2.68',
         'Earnings Date': 'Dec 19, 2019',
         'Ex-Dividend Date': '2019-11-29',
         'Forward Dividend & Yield': '0.98 (1.01%)',
         'Market Cap': '153B',
         'Open': '97.32',
         'PE Ratio (TTM)': '36.49',
         'Previous Close': '97.18',
         'Volume': '4561317'}}

###Given we have a nice nested dictionary, all we have to do is use the pandas method DataFrame.from_dict() that makes a pandas dataframe from a dictionary.
* What's even cooler is that we can basically orient everything based off the primary keys of our nested dictionary which were the ticker symbols!

In [0]:
pd.DataFrame.from_dict(results, orient = 'index')

     Previous Close    Open  ... Ex-Dividend Date 1y Target Est
NKE           97.18   97.32  ...       2019-11-29        103.60
AAPL         270.77  267.78  ...       2019-11-07        262.85
MSFT         151.70  151.65  ...       2020-02-19        160.69

[3 rows x 16 columns]

In [0]:
# Checking if a date range exist for 'Earnings Dates' column (for NKE)
# If we get a value greater than equal to 0, then there is a range somewhere in the colummn.  
pd.DataFrame.from_dict(results, orient = 'index')['Earnings Date'].iloc[0].find(' - ')

-1

##Finally we make our function that creates Yahoo Finance Summary Stats dataframe called "stock_stats()" from webscraped data from the Yahoo Finance website.

In [0]:
def stock_stats(tickers):
  tickers = [t.upper() for t in tickers] # this is done so that we immediately capitalize all of the characters in the tickers 
                                         # after passing in our list of tickers
  ###---CREATE OUR NESTED DICTIONARY AND TURN IT INTO A DATAFRAME (AS WE DID ABOVE) CALLED "stock_summaries"---###
  results = {}                            
  with requests.Session() as s:
    for ticker in tickers:
      stock = s.get('https://finance.yahoo.com/quote/' + ticker)
      stock_soup = bs4.BeautifulSoup(stock.text, 'html.parser')
      stock_columns = stock_soup.find(id="quote-summary") 
      stock_columns.find_all('td')
      
      stock_labels = [l for l in stock_columns.find_all('td') if l not in stock_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]
      stock_labels = [l.text for l in stock_labels]
      stock_values = [v.text for v in stock_columns.find_all('td', attrs={'class':"Ta(end) Fw(600) Lh(14px)"})]
    
      res = {stock_labels[i]: stock_values[i] for i in range(len(stock_labels))} 
      results[ticker] = res
       
      stock_summaries = pd.DataFrame.from_dict(results, orient = 'index')
  ###--Now let's make a new dataframe called "stock_sum" and fill it up with the cleaned version of the original data
  ###--from the dataframe that have from turning our nested dictionary to a dataframe.
      stock_sum = pd.DataFrame(index = stock_summaries.index)

  # As we did previously when cleaning the previous dataframes that had a single stock's info, let's type cast the easy strings
  # (non-Series objects). The harder ones (Series objects containing strings) will need to be inititialized with "NA" and be filled
  # in with their appropriate values.
  stock_sum['Previous_Close'] = pd.to_numeric(stock_summaries['Previous Close'])
  stock_sum['Open'] = pd.to_numeric(stock_summaries['Open'])
  stock_sum['Bid_Price'] = "NA"
  stock_sum['Bid_Size'] = "NA"
  stock_sum['Ask_Price'] = "NA"
  stock_sum['Ask_Size'] = "NA"
  stock_sum["Day's_Min_Price"] = "NA"
  stock_sum["Day's_Max_Price"] = "NA"
  stock_sum["Day's_Price_Range"] = "NA"
  stock_sum["52wk_Min_Price"] = "NA"
  stock_sum["52wk_Max_Price"] = "NA"
  stock_sum["52wk_Price_Range"] = "NA"
  stock_sum['VOLUME'] = "NA"
  stock_sum['AVG_VOLUME'] = "NA"
  stock_sum['Market_Cap'] = "NA"
  stock_sum['Beta_(5Y_Monthly)'] = pd.to_numeric(stock_summaries['Beta (5Y Monthly)'])
  stock_sum['PE_Ratio_(TTM)'] = pd.to_numeric(stock_summaries['PE Ratio (TTM)'])
  stock_sum['EPS_(TTM)'] = pd.to_numeric(stock_summaries['EPS (TTM)'])
  stock_sum["Earnings_Start_Date"] = "NA"
  stock_sum["Earnings_End_Date"] = "NA"
  stock_sum['Forward_Dividend'] = "NA"
  stock_sum['Yield'] = "NA"
  stock_sum["Ex_Dividend_Date"] = "NA"
  stock_sum['1y_Target_Est'] = pd.to_numeric(stock_summaries['1y Target Est'])
  # Parameters for casting "Earnings_Start_Date", "Earnings_End_Date", and "Ex_Dividend_Date" as datetimes.
  st = ["NA"]*len(tickers) # -> ["NA","NA","NA",...]
  end = ["NA"]*len(tickers)
  dvdt = ["NA"]*len(tickers)

  # NOW, before we just had to use iloc[0] because our series objects only had strings for one stock. However, now we have 
  # muliple stocks. Hence, we need to use a for loop and iterate through through multiple indices in the series objects. As 
  # we do this, we just appropriately fill up the columns like we did before, but now there will be multiple rows of data 
  # where each row corresponds to the data for a given ticker in the list of tickers. 
  for i in range(0,len(tickers)):
    # Bid
    stock_sum['Bid_Price'][i] = float(pd.to_numeric(stock_summaries['Bid'].iloc[i][:stock_summaries['Bid'].iloc[i].find(' x ')]))
    stock_sum['Bid_Size'][i] = float(pd.to_numeric(stock_summaries['Bid'].iloc[i][stock_summaries['Bid'].iloc[i].find(' x ')+3:]))
    # Ask
    stock_sum['Ask_Price'][i] = float(pd.to_numeric(stock_summaries['Ask'].iloc[i][:stock_summaries['Ask'].iloc[i].find(' x ')]))
    stock_sum['Ask_Size'][i] = float(pd.to_numeric(stock_summaries['Ask'].iloc[i][stock_summaries['Ask'].iloc[i].find(' x ')+3:]))
    # Day's Range
    stock_sum["Day's_Min_Price"][i] = float(pd.to_numeric(stock_summaries["Day's Range"].iloc[i][:stock_summaries["Day's Range"].iloc[i].find(' - ')]))
    stock_sum["Day's_Max_Price"][i] = float(pd.to_numeric(stock_summaries["Day's Range"].iloc[i][stock_summaries["Day's Range"].iloc[i].find(' - ')+3:]))
    stock_sum["Day's_Price_Range"][i] = stock_sum["Day's_Max_Price"][i] - stock_sum["Day's_Min_Price"][i]
    # 52 Week Range
    stock_sum["52wk_Min_Price"][i] = float(pd.to_numeric(stock_summaries["52 Week Range"].iloc[i][:stock_summaries["52 Week Range"].iloc[i].find(' - ')]))
    stock_sum["52wk_Max_Price"][i] = float(pd.to_numeric(stock_summaries["52 Week Range"].iloc[i][stock_summaries["52 Week Range"].iloc[i].find(' - ')+3:]))
    stock_sum["52wk_Price_Range"][i] = stock_sum["52wk_Max_Price"][i] - stock_sum["52wk_Min_Price"][i]
    # Market Cap
    if stock_summaries['Market Cap'].iloc[i][-1] == "T":
      stock_sum['Market_Cap'][i] = float(pd.to_numeric(stock_summaries['Market Cap'].iloc[i][:-1])*1000000000000)
    elif stock_summaries['Market Cap'].iloc[i][-1] == "B":
      stock_sum['Market_Cap'][i] = float(pd.to_numeric(stock_summaries['Market Cap'].iloc[i][:-1])*1000000000)
    # Volumes
    stock_sum['VOLUME'][i] = float(pd.to_numeric(stock_summaries['Volume'].iloc[i].replace(",", "")))
    stock_sum['AVG_VOLUME'][i] = float(pd.to_numeric(stock_summaries['Avg. Volume'].iloc[i].replace(",", "")))
    # Forward Dividend & Yield
    stock_sum['Forward_Dividend'][i] = float(pd.to_numeric(stock_summaries['Forward Dividend & Yield'].iloc[i][:stock_summaries['Forward Dividend & Yield'].iloc[i].find(' (')]))
    stock_sum['Yield'][i] = float(pd.to_numeric(stock_summaries['Forward Dividend & Yield'].iloc[i][stock_summaries['Forward Dividend & Yield'].iloc[i].find('(')+1:stock_summaries['Forward Dividend & Yield'].iloc[i].find('%(')-1]))*0.01
    # Earnings Date (this cleaning process is tricky because, as seen for the NKE stock data, there could be less than two 
    #                earnings dates)
    if stock_summaries["Earnings Date"].iloc[i].find(' - ') >= 0: # If two earnings dates exist
      st[i]=stock_summaries["Earnings Date"].iloc[i][:stock_summaries["Earnings Date"].iloc[i].find(' - ')]
      stock_sum["Earnings_Start_Date"][i] = datetime.strptime(st[i],'%b %d, %Y')
      end[i] = stock_summaries["Earnings Date"].iloc[i][stock_summaries["Earnings Date"].iloc[i].find(' - ')+3:]
      stock_sum["Earnings_End_Date"][i] = datetime.strptime(end[i],'%b %d, %Y')
    else: # If only one earnings date exists
      st[i] = stock_summaries["Earnings Date"].iloc[i]
      stock_sum["Earnings_Start_Date"][i] = datetime.strptime(st[i],'%b %d, %Y')
      stock_sum["Earnings_End_Date"][i] = datetime.strptime(st[i],'%b %d, %Y')
    # Ex-Dividend Date
    dvdt[i] = stock_summaries['Ex-Dividend Date'].iloc[i] 
    stock_sum["Ex_Dividend_Date"][i] = datetime.strptime(dvdt[i],"%Y-%m-%d")   

      
  return stock_sum # Return the cleaned dataframe of Yahoo Finance Summary Stats for a given list of stocks

In [0]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

##The Yahoo Finance Summary Stats for Nike, Apple, and Microsoft stocks
* **NOTE**: **My "stock_stats()" function even works when you don't capitalize all of the characters for a given ticker.**

In [0]:
stock_stats(['NKE','AAPL','MSFT'])

      Previous_Close    Open  ...     Ex_Dividend_Date 1y_Target_Est
NKE            97.18   97.32  ...  2019-11-29 00:00:00        103.60
AAPL          270.77  267.78  ...  2019-11-07 00:00:00        262.85
MSFT          151.70  151.65  ...  2020-02-19 00:00:00        160.69

[3 rows x 24 columns]

In [0]:
stock_stats(['Nke','aApl','msFT'])

      Previous_Close    Open  ...     Ex_Dividend_Date 1y_Target_Est
NKE            97.18   97.32  ...  2019-11-29 00:00:00        103.60
AAPL          270.77  267.78  ...  2019-11-07 00:00:00        262.85
MSFT          151.70  151.65  ...  2020-02-19 00:00:00        160.69

[3 rows x 24 columns]