#Importing Libraries

In [0]:
import numpy as np
import pandas as pd

#1. Load PredictorData2017.xlsx file.

In [0]:
predictors = pd.read_excel('PredictorData2017.xlsx')#,parse_dates[0],index_col =0)

In [0]:
predictors.head()

   yyyymm  Index   D12  E12  b/m  ...  corpr  svar  csp  CRSP_SPvw  CRSP_SPvwx
0  187101   4.44  0.26  0.4  NaN  ...    NaN   NaN  NaN        NaN         NaN
1  187102   4.50  0.26  0.4  NaN  ...    NaN   NaN  NaN        NaN         NaN
2  187103   4.61  0.26  0.4  NaN  ...    NaN   NaN  NaN        NaN         NaN
3  187104   4.74  0.26  0.4  NaN  ...    NaN   NaN  NaN        NaN         NaN
4  187105   4.86  0.26  0.4  NaN  ...    NaN   NaN  NaN        NaN         NaN

[5 rows x 18 columns]

#2. This file contains data that can be used to construct a number of predictors (you don’t have to know what these mean).  These include:
* The E/P ratio (column D divided by column B)
* The term spread (column I minus column F)
* The default spread (column H minus column G)
* Net issuance (column J)
* The data also contains market returns in column Q and risk-free returns in column K.  
#Use Q and K to compute the excess return on the market. (market return – risk free return)

In [0]:
# Creating the 4 predictors 
predictors['E/P_Ratio'] = predictors['E12']/predictors['Index']
predictors['Term_Spread'] = predictors['lty'] - predictors['tbl']
predictors['Default_Spread'] = predictors['BAA'] - predictors['AAA']
predictors['Net_Issuance'] = predictors['ntis']
# Creating 'Excess_Market_Return' column
predictors['Excess_Market_Return'] = predictors['CRSP_SPvw']-predictors['Rfree']
# Filter out all of the useless columns
predictors = predictors[['yyyymm','E/P_Ratio','Term_Spread','Default_Spread','Net_Issuance','Excess_Market_Return']]

predictors.head()

   yyyymm  E/P_Ratio  ...  Net_Issuance  Excess_Market_Return
0  187101   0.090090  ...           NaN                   NaN
1  187102   0.088889  ...           NaN                   NaN
2  187103   0.086768  ...           NaN                   NaN
3  187104   0.084388  ...           NaN                   NaN
4  187105   0.082305  ...           NaN                   NaN

[5 rows x 6 columns]

#3. Drop data before 1950 (we don’t want to use too old/irrelevant data in our models).

In [0]:
# Convert 'yyyymm' into a datetime with format 'yyyy-mm'
predictors['yyyymm'] = pd.to_datetime(predictors['yyyymm'], format='%Y%m')
predictors.head()

      yyyymm  E/P_Ratio  ...  Net_Issuance  Excess_Market_Return
0 1871-01-01   0.090090  ...           NaN                   NaN
1 1871-02-01   0.088889  ...           NaN                   NaN
2 1871-03-01   0.086768  ...           NaN                   NaN
3 1871-04-01   0.084388  ...           NaN                   NaN
4 1871-05-01   0.082305  ...           NaN                   NaN

[5 rows x 6 columns]

In [0]:
# Getting rid of everything before 1950
predictors = predictors[predictors['yyyymm']>='1950-01-01']
predictors
# Set the date as my dataframe index
predictors = predictors.set_index('yyyymm')
predictors

            E/P_Ratio  Term_Spread  ...  Net_Issuance  Excess_Market_Return
yyyymm                              ...
1950-01-01   0.137048       0.0108  ...      0.027102              0.018811
1950-02-01   0.136663       0.0102  ...      0.025491              0.018670
1950-03-01   0.137073       0.0103  ...      0.029291              0.007252
1950-04-01   0.134293       0.0099  ...      0.026396              0.044929
1950-05-01   0.132233       0.0097  ...      0.028571              0.045935
...               ...          ...  ...           ...                   ...
2017-08-01   0.042911       0.0141  ...     -0.012138              0.001396
2017-09-01   0.042503       0.0156  ...     -0.011027              0.019192
2017-10-01   0.041943       0.0154  ...     -0.012358              0.023266
2017-11-01   0.042148       0.0137  ...     -0.012243              0.030363
2017-12-01   0.041098       0.0122  ...     -0.019946              0.010048

[816 rows x 5 columns]

#4. Run an out-of-sample analysis of the four predictive variables given above.  The dependent variable is the excess market return. Use a linear regression for prediction (you can try other models if you want).


---

#5. All regressions should use exactly 10 years of lagged data.  So your first prediction will be made in December of 1959.  You will be predicting the January 1960 return.  Move the sample forward one month and repeat (the dependent variable should be the one month return and the independent variables are all four predictors 10 year lagged data). This is a “rolling regression”.

* In other words, each month, you train a new regression based on 10 years of lagged predictor data, so your window length of predictors is fixed, 10 years, and the trained model is incrementally moving forward to make a forecast for next month’s excess returns.

In [0]:
# Create a predictors dataframe (x) 
x = predictors
x = predictors.iloc[:, 0:4]
x

            E/P_Ratio  Term_Spread  Default_Spread  Net_Issuance
yyyymm
1950-01-01   0.137048       0.0108          0.0067      0.027102
1950-02-01   0.136663       0.0102          0.0066      0.025491
1950-03-01   0.137073       0.0103          0.0066      0.029291
1950-04-01   0.134293       0.0099          0.0063      0.026396
1950-05-01   0.132233       0.0097          0.0064      0.028571
...               ...          ...             ...           ...
2017-08-01   0.042911       0.0141          0.0068     -0.012138
2017-09-01   0.042503       0.0156          0.0067     -0.011027
2017-10-01   0.041943       0.0154          0.0072     -0.012358
2017-11-01   0.042148       0.0137          0.0070     -0.012243
2017-12-01   0.041098       0.0122          0.0071     -0.019946

[816 rows x 4 columns]

In [0]:
# Creating a response variable dataframe (y)
y = predictors.iloc[:, 4:5]
y

            Excess_Market_Return
yyyymm
1950-01-01              0.018811
1950-02-01              0.018670
1950-03-01              0.007252
1950-04-01              0.044929
1950-05-01              0.045935
...                          ...
2017-08-01              0.001396
2017-09-01              0.019192
2017-10-01              0.023266
2017-11-01              0.030363
2017-12-01              0.010048

[816 rows x 1 columns]

In [0]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

lag = 120 #we need at least a 10 years of data before we can train our model
# Let's make a dataframe for our y predictions
y_pred = pd.DataFrame(index=y.index)
y_pred['pred_Excess_Market_Return'] = np.nan
y_pred

            pred_Excess_Market_Return
yyyymm
1950-01-01                        NaN
1950-02-01                        NaN
1950-03-01                        NaN
1950-04-01                        NaN
1950-05-01                        NaN
...                               ...
2017-08-01                        NaN
2017-09-01                        NaN
2017-10-01                        NaN
2017-11-01                        NaN
2017-12-01                        NaN

[816 rows x 1 columns]

In [0]:
for i in range(lag,len(x)): # From month 120 to last month
    x_train = x.iloc[0:i] # Our x training data will be the predictors data before 1960
    y_train = y.iloc[0:i] # Our y training data will be the response data before 1960

    x_test = x.iloc[i:i+1] # Our x test data is now the predictors data from 1960 through 2017
    
    model=LinearRegression()
    # Train our linear regression model on training data
    fit_model=model.fit(x_train, y_train)
    # Given we have trained our linear regression model, 
    # we can start moving our sampling one month at a time and predict excess
    # market return from 1960 through 2017. 
    y_pred.iloc[i] = fit_model.predict(x_test)

y_pred

            pred_Excess_Market_Return
yyyymm
1950-01-01                        NaN
1950-02-01                        NaN
1950-03-01                        NaN
1950-04-01                        NaN
1950-05-01                        NaN
...                               ...
2017-08-01                   0.007700
2017-09-01                   0.007992
2017-10-01                   0.007951
2017-11-01                   0.007665
2017-12-01                   0.007868

[816 rows x 1 columns]

In [0]:
# Let's drop every 'NA' for our predicted excess market returns
y_pred['pred_Excess_Market_Return'].dropna()

yyyymm
1960-01-01    0.006595
1960-02-01    0.001792
1960-03-01    0.007811
1960-04-01    0.011156
1960-05-01    0.009105
                ...
2017-08-01    0.007700
2017-09-01    0.007992
2017-10-01    0.007951
2017-11-01    0.007665
2017-12-01    0.007868
Name: pred_Excess_Market_Return, Length: 696, dtype: float64

### RMSE Evaluation

In [0]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_pred.iloc[lag:], y.iloc[lag:]))

0.04319508550384095

#6. If m(t) is your return excess forecast at time t, then set a portfolio weight equal to:
 
###w(t) = min{1.5, max{-.5, 100×m(t)}}.

In [0]:
max(y_pred['pred_Excess_Market_Return'].dropna())

0.044420436379202774

In [0]:
t_min = 120 # month 120 -> '1960-01-01'
portfolio_weight = [] # Create an empty list of portfolio_weights

for t in range(t_min,len(y_pred['pred_Excess_Market_Return'])): #From month 120 to last month associated with our predicted response variable
  # Implementation of our weight formula
  portfolio_weight.append(min(1.5, max(-0.5, 100*y_pred['pred_Excess_Market_Return'][t])))

In [0]:
len(portfolio_weight)

696

#7. Given the weight w(t), your portfolio’s excess return in time t+1 will therefore be w(t) x r(t+1), where r is the actual excess market return (not predicted). Compute your portfolio return.

In [0]:
# Actual excess market returns
actual_excess_market_returns = y[y.index >= '1960-01-01']
actual_excess_market_returns

            Excess_Market_Return
yyyymm
1960-01-01             -0.073558
1960-02-01              0.010622
1960-03-01             -0.015324
1960-04-01             -0.018805
1960-05-01              0.030771
...                          ...
2017-08-01              0.001396
2017-09-01              0.019192
2017-10-01              0.023266
2017-11-01              0.030363
2017-12-01              0.010048

[696 rows x 1 columns]

In [0]:
# Create a list of portfolio returns
portfolio_return = [] 

for t in range(0,len(portfolio_weight)-1): # From the first weight to the 
                                           # appropriate second to last month 
                                           # associated with our weights (given 
                                           # we want want a portfolio return for 
                                           # for the last month in 2017)
  # Implementation of portfolio return formula
  portfolio_return.append(portfolio_weight[t]*actual_excess_market_returns['Excess_Market_Return'][t+1])

portfolio_return

[0.007005373031708603,
 -0.002746004510031664,
 -0.014687636783513333,
 0.03432836548796396,
 0.01798432782362968,
 -0.037297000000000004,
 0.0443255,
 -0.0911695,
 -0.0035309279581662322,
 0.05761694138165109,
 0.070446,
 0.09368,
 0.046231999999999995,
 0.04103,
 0.0039430000000000055,
 0.032467,
 -0.042922,
 0.04789249999999999,
 0.03410749999999999,
 -0.030861,
 0.03938749999999999,
 0.06382908161559464,
 0.0034200485854643347,
 -0.059434,
 0.027133022653178848,
 -0.0035156860596154836,
 -0.07806967858189094,
 -0.08274551147493409,
 -0.051313746647827674,
 0.05626573290021552,
 -0.0031834626999513362,
 -0.008690506970850002,
 0.00051797203816819,
 0.047263221946385006,
 0.010619323593341211,
 0.071913,
 -0.03993349999999999,
 0.051259000000000006,
 0.06998,
 0.025848499999999993,
 -0.031645000000000006,
 -0.006706500000000001,
 0.076049,
 -0.019828000000000005,
 0.047924999999999995,
 -0.011130499999999995,
 0.034697500000000006,
 0.036686500000000004,
 0.01973936066073035,
 0.015284108456199106,
 0.0033510803670325634,
 0.010131440476286623,
 0.009606337967251877,
 0.011138704354936647,
 -0.009655139379238639,
 0.021455899228664515,
 0.0037835785765368357,
 -0.001007895553224044,
 0.0015227177584552815,
 -0.002643449892981171,
 0.00029232871988901695,
 -0.015505429589551763,
 0.012375050028304179,
 -0.005515433349185463,
 -0.042995561905343066,
 0.009408313216562289,
 0.021024966917229073,
 0.027698160137289506,
 0.018384317380313486,
 -0.003843277409307381,
 0.0014013171501353415,
 -0.0002220731487635209,
 0.0035553579200835466,
 -0.0019463577069134983,
 0.005962965545819178,
 -0.021910132917918393,
 -0.010217839924236017,
 -0.008882404137638406,
 0.006383281441603037,
 0.003447934662174333,
 -0.021937333333333336,
 -0.003394833333333335,
 0.001903666666666665,
 -0.028517853417939706,
 -0.00015317417257408798,
 0.021578615791453693,
 0.04535330199735964,
 -0.074715,
 0.0245535,
 0.06441850000000002,
 -0.015573499999999995,
 0.0451975,
 -0.046872000000000004,
 0.003739999999999995,
 0.03440599999999999,
 -0.049240820013049386,
 -0.030323021374668694,
 0.006691064899168734,
 0.07105867608654914,
 0.008196664388295284,
 0.002147622526254759,
 -0.006854105198954407,
 0.002469699943744588,
 0.0022025256585693526,
 0.00019614380235913006,
 -0.003343164361344762,
 0.0036845400965096154,
 0.006331833333333335,
 0.0237105,
 -0.014915166666666667,
 -0.008839666666666666,
 0.000589666666666665,
 0.029861833333333337,
 0.032232666666666666,
 -0.019955666666666663,
 0.014924666666666666,
 -0.020533333333333334,
 0.017592666666666666,
 0.011719333333333335,
 0.04097816666666667,
 -0.026789666666666663,
 0.0013595000000000002,
 0.047127999999999996,
 0.01680773365467395,
 0.02672623644684499,
 -0.035074,
 -0.022218166666666667,
 -0.010711127323543321,
 -0.0021470391891775372,
 0.03975138486694436,
 0.04688679264730022,
 0.058691999999999994,
 0.015350500000000007,
 0.054376999999999995,
 0.05062249999999999,
 -0.06090000000000001,
 -0.002278999999999995,
 -0.0679905,
 0.051997912379790685,
 -0.011899087342478028,
 -0.06254910611301365,
 -0.0008561405171220145,
 0.1268075,
 0.02273537063247374,
 0.04133149999999999,
 0.006310000000000005,
 0.0035764999999999946,
 0.028415999999999997,
 -0.03512149999999999,
 -0.00010750000000000494,
 0.04832208309466818,
 -0.009770283123251386,
 0.004398210510905479,
 0.018911319483601287,
 0.003200058262384746,
 -0.00038448971176462853,
 -0.0135824164268524,
 -0.0009490147472404788,
 0.019854644822096312,
 0.009592310229110184,
 0.005584833333333336,
 -0.0162265,
 0.019384500000000002,
 -0.017655333333333335,
 0.002852333333333335,
 0.0568725,
 -0.005881333333333336,
 -0.01850376227239049,
 -0.004014591464007547,
 -0.04267699999999999,
 -0.055220487553876874,
 -0.041552959798932844,
 -0.02424111972816088,
 -0.1244845,
 -0.13446550000000002,
 -0.0690075070008342,
 0.15333477568037757,
 0.0063830216273743036,
 -0.02904945433390822,
 0.052266017143847064,
 0.09431500000000001,
 0.029158500000000004,
 0.0671235,
 0.07025200000000001,
 0.06265499999999999,
 -0.1059185,
 -0.0315445,
 -0.056400000000000006,
 0.0898325,
 0.0382835,
 -0.022527499999999995,
 0.174127,
 -0.014734000000000006,
 0.04271,
 -0.02049,
 -0.018673999999999996,
 0.059176000000000006,
 -0.017340499999999995,
 -0.004026499999999995,
 0.03028150000000001,
 -0.0364665,
 -0.007498999999999995,
 0.075225,
 -0.080256,
 -0.0292945,
 -0.024502999999999997,
 -0.004713499999999995,
 -0.028795999999999995,
 0.065389,
 -0.029667,
 -0.025327500000000003,
 -0.0059220576767703235,
 -0.039819859808898274,
 0.019370707984019277,
 0.0003767847349945255,
 -0.06499287684123947,
 -0.016990216825867103,
 0.012483826969098472,
 0.07969185644535696,
 0.011179266946697243,
 -0.03327949999999999,
 0.07669849999999999,
 0.03615906394945757,
 -0.015100661274474065,
 -0.06874281427845368,
 0.01254951291666696,
 -0.0028068808666995007,
 -0.017452666666666665,
 0.018207833333333336,
 -0.019049258881574434,
 0.0018501666666666653,
 0.006359445212671646,
 -0.016387,
 -0.0018278171768599397,
 -0.008772507180977596,
 0.002398120232651999,
 0.03416196494381322,
 -0.021476,
 -0.004153333333333349,
 -0.025654,
 0.0029029122069801055,
 0.028506686663962045,
 -0.015697000000000003,
 -0.024204999999999997,
 0.03574549999999999,
 0.09222499999999999,
 0.008768500000000005,
 0.02906500000000001,
 0.010207139578806274,
 0.06907487723110568,
 0.02177116666666665,
 0.027943333333333348,
 -0.004471000000000001,
 -0.01357583333333335,
 0.01580966666666665,
 0.0012312952253161528,
 0.010265,
 0.0058721666666666505,
 0.0342325,
 0.031358,
 0.005054786602190655,
 0.02452750312185285,
 -0.054151000000000005,
 -0.03840049999999995,
 -0.09251149999999995,
 -0.016981851956081272,
 0.04645000000000005,
 -0.05328237782581914,
 -0.039256000000000055,
 -0.044486,
 0.180253,
 0.005844,
 0.161157,
 0.0585435,
 0.015327499999999994,
 0.0431145,
 0.028462,
 0.04276750000000001,
 0.10331599999999998,
 -0.018768,
 0.04446750000000001,
 -0.058207,
 0.012121000000000005,
 0.009979500000000002,
 -0.030462,
 0.024818999999999997,
 -0.019873500000000002,
 -0.016972000000000008,
 -0.0624135,
 0.014042500000000006,
 -0.0019410000000000013,
 -0.091984,
 0.022067999999999997,
 -0.033297499999999994,
 0.1555695,
 -0.013058500000000006,
 -0.0071785000000000035,
 -0.025523999999999998,
 0.028258999999999992,
 0.105602,
 0.010911499999999994,
 -0.011604000000000001,
 -0.0154935,
 0.08476000000000002,
 0.015409999999999993,
 -0.0138315,
 -0.0186345,
 -0.058747,
 0.0586685,
 0.09878050000000001,
 0.063359,
 -0.001778500000000005,
 0.10596250000000002,
 0.075548,
 -0.027597000000000003,
 0.07530150000000001,
 0.015853500000000003,
 -0.093599,
 0.104713,
 -0.13137700000000002,
 0.07833199999999998,
 0.0306265,
 -0.04818199999999999,
 0.195987,
 0.055679500000000014,
 0.032516500000000004,
 -0.0206175,
 0.006616999999999996,
 0.0681225,
 0.06765199999999999,
 0.051112000000000005,
 -0.040909999999999995,
 -0.33135499999999996,
 -0.12992350000000003,
 0.1036705,
 0.056805499999999995,
 0.0640925,
 -0.0533955,
 0.0083865,
 0.004192999999999995,
 0.06343900000000001,
 -0.015099499999999995,
 -0.057557,
 0.05505850000000001,
 0.029481243856211974,
 -0.026406390758820574,
 0.014301295481578007,
 0.08505016168952272,
 -0.03895769771961923,
 0.02137907147775337,
 0.0468597305467982,
 0.03763009751246562,
 -0.01585643121334962,
 0.0963326584803359,
 0.017104037957385975,
 -0.015693499999999996,
 -0.04500850000000001,
 0.020589795322585393,
 0.023067511332497816,
 -0.0883340808814879,
 0.009447816858082,
 0.024515000263452113,
 -0.03679098143978916,
 0.12352079581884073,
 -0.014749984909191294,
 -0.011753531277046604,
 -0.09613351358633695,
 -0.0699695349289679,
 -0.011625659844075502,
 0.07405179229671834,
 0.026767749994571724,
 0.054602964619458544,
 0.09992250000000001,
 0.029143500000000003,
 -0.003660499999999995,
 0.05757000000000001,
 -0.07499800000000001,
 0.062814,
 0.029164999999999996,
 -0.0318165,
 0.012761769396411514,
 -0.0626195212467898,
 0.16376037373489247,
 -0.029921385971227493,
 0.0144975,
 -0.03425500000000001,
 0.03789061771606941,
 0.0027375000000000003,
 -0.02712,
 0.051707451903679494,
 -0.030636488730549583,
 0.011827935735435592,
 0.0031313399451333877,
 0.04516775677729202,
 0.015292467876734198,
 0.006395501410968278,
 0.014555118643222531,
 0.022998794067356818,
 -0.034062000740628144,
 0.030365886189800646,
 0.0011068343211083163,
 -0.007698715455508083,
 0.0363470647898902,
 -0.009497175549557807,
 0.01632500986346038,
 -0.010064627865153913,
 0.009192760795462315,
 0.026928566496412166,
 -0.026468251586471498,
 -0.04186324287364684,
 0.009060465373213858,
 0.011441262968727583,
 -0.02247134561641295,
 0.027808101568263688,
 0.032516771958495574,
 -0.025895459901034895,
 0.01800360538140323,
 -0.0379630330305415,
 0.009043192063272877,
 0.018646407696698827,
 0.028570760201265196,
 0.01900535478988991,
 0.01950775543993425,
 0.028915819684702304,
 0.013834953444695257,
 0.023941508687845635,
 -0.0009571875024838425,
 0.03272694779660374,
 -0.0074012419157057675,
 0.030800658458323266,
 0.008437647964882191,
 0.021475410445335814,
 0.004551811137225015,
 0.0049535446186615125,
 0.010485535434068981,
 0.019268025714491273,
 -9.13820526547166e-05,
 -0.03596626127269636,
 0.010850693572305036,
 0.03519822340127414,
 0.014969726123523664,
 0.05142991548137563,
 -0.017862145796898665,
 0.047172239777400655,
 0.0029100362361857415,
 -0.03992271211542497,
 0.051492682739173755,
 0.05540607948233094,
 0.044879258728274404,
 0.09264090546814728,
 -0.06451286274875298,
 0.05613651602413304,
 -0.03846067106312363,
 0.040008652505918084,
 0.011483919878351182,
 0.006974745688622428,
 0.06438556719354079,
 0.04867974129600117,
 0.007232054365593166,
 -0.02358814466924301,
 0.035159496294866685,
 -0.011262059694161481,
 -0.11779628170100748,
 0.034009706025273326,
 0.04834560975365289,
 0.060932905872486426,
 0.055211920218163645,
 0.04493182452243549,
 -0.0472860398215442,
 0.04719662770696978,
 0.042070959918287854,
 -0.031231350877988857,
 0.056809221811028154,
 -0.04422537207941188,
 -0.011705994013625463,
 -0.040441606950271006,
 0.07321812515103772,
 0.019556440122381506,
 0.07102938085023751,
 -0.0651589139724155,
 -0.020153757591539662,
 0.06828206078903346,
 -0.032944911785590406,
 -0.03196737931799471,
 0.026833350135457363,
 -0.021720982887067922,
 0.06624464530475693,
 -0.061375471496282294,
 -0.010810653594020187,
 -0.09161555002923563,
 0.0009613562362166159,
 0.03039880468871509,
 -0.12231207084030266,
 -0.09436873570621138,
 0.10625357112164618,
 0.005779999999999995,
 -0.04112149999999999,
 -0.018363,
 -0.09612216675728515,
 -0.1150681919937149,
 0.026609999999999998,
 0.115843,
 0.011464000000000005,
 -0.0235485,
 -0.031384,
 0.0541205,
 -0.0936515,
 -0.013862500000000003,
 -0.10914849999999998,
 -0.1095311388507156,
 0.0072084224436911645,
 -0.1258027303380425,
 0.08287372882575801,
 0.059152714677159206,
 -0.07648981085723035,
 -0.03235563327178828,
 -0.017288997514794336,
 0.009131928622391474,
 0.0880899967310591,
 0.061066148936609485,
 0.017387574546801406,
 0.025772999999999997,
 0.028208,
 -0.0172805,
 0.08219,
 0.012726000000000001,
 0.076545,
 0.027517000000000003,
 0.020442,
 -0.023648,
 -0.023104993063996382,
 0.018931814548043165,
 0.025551626195762074,
 -0.046298432493886765,
 0.003394525024754009,
 0.011287136049023807,
 0.017016000934536958,
 0.04828421665357508,
 0.03564671001323434,
 -0.027008946653013153,
 0.01828126638851068,
 -0.018941833804096187,
 -0.021469543764737555,
 0.028396922838166794,
 -0.0007432892528137697,
 0.03202818690478438,
 -0.011376766851212805,
 0.004302749422175288,
 -0.01623243480256003,
 0.03037670934330458,
 -0.0026980872954866886,
 0.019162830494124608,
 -0.0010931752455784645,
 0.006667344178403296,
 0.006657343450908526,
 -0.031222058732983483,
 -0.0022023125636539496,
 0.0012537722975899921,
 0.015982537561678598,
 0.019667939789989094,
 0.026073777768933507,
 0.012662690561391235,
 0.00977832434535527,
 0.01212934944872849,
 -0.024984108226123104,
 0.0068569620466436675,
 0.039218677519717395,
 0.027666773020796374,
 -0.02142611150093663,
 -0.039667325453908706,
 0.012783797434216133,
 0.03758317199479719,
 0.01693481165309509,
 -0.05773997783899626,
 -0.012924000000000001,
 -0.0951865,
 -0.04977850000000002,
 -0.006675,
 0.071331,
 0.017316499999999995,
 -0.12655349999999999,
 -0.012996499999999994,
 0.020282500000000005,
 -0.12961299999999998,
 -0.25130749999999996,
 -0.11050549999999998,
 0.010761953540021829,
 -0.013286023103861615,
 -0.04985183781994802,
 0.011552557662933395,
 -0.040914097921337544,
 0.0029350079264388257,
 0.001452842078955413,
 0.06694818679160199,
 0.03196723155016006,
 0.03803567431915752,
 -0.019420179853180626,
 0.06859832669663612,
 0.020549016097000543,
 -0.04432484498191812,
 0.036979336060330624,
 0.07136372858296727,
 0.018629318810481472,
 -0.09414697722724785,
 -0.057975610389974626,
 0.0657573742926079,
 -0.041873643717332945,
 0.0792904480106961,
 0.0357838245667891,
 -0.000172437543152325,
 0.06953537267694884,
 0.025818098790942448,
 0.038263184224912296,
 0.0006522508076675804,
 0.03684708992149536,
 -0.014113259860924423,
 -0.020064729680042113,
 -0.024715677168739437,
 -0.061502143886864674,
 -0.06592882941534826,
 0.08381878361375678,
 -0.0021287036473110073,
 0.007890386941675003,
 0.03575203301162931,
 0.0339709504843103,
 0.028331829532963416,
 -0.005780940935282526,
 -0.053262011315071967,
 0.03236755627986843,
 0.010931469483972972,
 0.016639087195480337,
 0.019015686463606168,
 -0.014313552537533334,
 0.0044814566092064335,
 0.006935819872831913,
 0.04538316172675437,
 0.012459615440629143,
 0.036187147062069644,
 0.019157476468940976,
 0.022024640308299613,
 -0.014366235577624016,
 0.053957019597959274,
 -0.03031222892510907,
 0.034132608551287795,
 0.04960392576199526,
 0.032940608905023386,
 0.029248965848943008,
 -0.0405520362666714,
 0.05031305090112264,
 0.008539462801695132,
 0.00699407830157318,
 0.024475722638425138,
 0.021324139759572116,
 -0.014831854126718244,
 0.043085401604594564,
 -0.014159995797770636,
 0.02486893358714274,
 0.026694887863186387,
 -0.0022743295685356568,
 -0.025247788009429915,
 0.04342571847280213,
 -0.013332315089035736,
 0.008169856918299127,
 0.011581960594154483,
 -0.01880558942016466,
 0.0218130101325041,
 -0.05600319919239511,
 -0.022456132747067304,
 0.0718202732220744,
 0.0027661518310387067,
 -0.013642124021272,
 -0.04241593639020036,
 -0.0015226931698565118,
 0.04667001117925391,
 0.0025133180763723855,
 0.014807276481547517,
 0.002046198104687745,
 0.027407202857942663,
 0.0007643251758566236,
 0.00016841537176476933,
 -0.015634337855237875,
 0.03139111712500708,
 0.01768679815607505,
 0.018400016517939665,
 0.038557841239112926,
 0.0010108755501080982,
 0.009276306899822978,
 0.012174916159860447,
 0.004029901258958269,
 0.015748492943441435,
 0.0011171492756336322,
 0.014776975376631715,
 0.01859464814099992,
 0.024142320054823616,
 0.007702218295773427]

#8. Assess this strategy using mean, and standard deviation.  Report corresponding values for the strategy that simply puts 100% into the market (this is a baseline model) and see which one performs better.

##A Base Model Assessment (Your basically buying everything so the base model returns simply be the actual returns you'd have if you were to 100% into the market every month)

In [0]:
np.mean(actual_excess_market_returns['Excess_Market_Return'])

0.005119051245210725

In [0]:
np.std(actual_excess_market_returns['Excess_Market_Return'])

0.042271595780990066

##Strategy Assessment

In [0]:
np.mean(portfolio_return) # Greater mean return than the base model's mean return

0.006308344661332584

In [0]:
np.std(portfolio_return) # However, greater stdev than the base model's stdev

0.048359006994840886