#Importing Libraries

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [0]:
!pip install pandas_market_calendars

Collecting pandas_market_calendars
  Downloading https://files.pythonhosted.org/packages/08/38/c7d2f38db8ca480b996b8b5cabed82f3a2f9825d585dd4c9ef123d82c936/pandas_market_calendars-1.2-py3-none-any.whl (50kB)
     |████████████████████████████████| 51kB 1.7MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.6/dist-packages (from pandas_market_calendars) (2018.9)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.6/dist-packages (from pandas_market_calendars) (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18->pandas_market_calendars) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18->pandas_market_calendars) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.18->pandas_market_calendars) (1.12.0)
Installing collected packages: pandas-market-calendars
Successfully installed pandas-market-calendars-1.2

In [0]:
import pandas_market_calendars as mcal

# 1. Load data from the SPY.csv file and NAESX.csv file.

In [0]:
spy = pd.read_csv('SPY.csv',parse_dates=[0], index_col=0)
spy.rename(columns={'Adj Close':'Adj_Close'}, inplace=True)
spy.head(),spy.tail()

(                Open      High       Low     Close  Adj_Close   Volume
 Date
 1993-01-29  43.96875  43.96875  43.75000  43.93750  26.706757  1003200
 1993-02-01  43.96875  44.25000  43.96875  44.25000  26.896694   480500
 1993-02-02  44.21875  44.37500  44.12500  44.34375  26.953669   201300
 1993-02-03  44.40625  44.84375  44.37500  44.81250  27.238594   529400
 1993-02-04  44.96875  45.09375  44.46875  45.00000  27.352570   531500,
                   Open        High  ...   Adj_Close     Volume
 Date                                ...
 2019-08-20  291.769989  292.359985  ...  290.089996   51596400
 2019-08-21  292.480011  292.859985  ...  292.450012   49524700
 2019-08-22  293.230011  293.929993  ...  292.359985   51666400
 2019-08-23  290.920013  292.760010  ...  284.850006  149161500
 2019-08-26  287.269989  288.000000  ...  288.000000   72423800

 [5 rows x 6 columns])

In [0]:
naesx = pd.read_csv('NAESX.csv', parse_dates=[0], index_col=0)
naesx.rename(columns={'Adj Close':'Adj_Close'}, inplace=True)
naesx.head(),naesx.tail()

(                 Open       High        Low      Close  Adj_Close  Volume
 Date
 2000-01-01  23.240000  24.959999  22.230000  23.200001  15.902856       0
 2000-02-01  23.549999  27.030001  23.549999  27.030001  18.528204       0
 2000-03-01  27.530001  28.360001  24.680000  25.020000  17.150412       0
 2000-04-01  23.969999  25.219999  21.070000  23.530001  16.259209       0
 2000-05-01  24.120001  24.120001  21.230000  22.170000  15.319451       0,
                  Open       High        Low      Close  Adj_Close  Volume
 Date
 2018-04-01  68.730003  72.419998  68.730003  70.629997  70.482391       0
 2018-05-01  70.839996  74.860001  70.610001  74.209999  74.054916       0
 2018-06-01  74.779999  77.040001  74.199997  74.589996  74.434120       0
 2018-07-01  74.860001  77.180000  74.860001  75.949997  75.949997       0
 2018-08-01  75.919998  78.709999  75.919998  78.709999  78.709999       0)

#2. Look around to see if there are any differences, if so, how?

Generally speaking, the values for every field are lower for NAESX stocks than for SPY stocks. In additon, the SPY data dates back to 1993 and through 2019, whereas, the NAESX data dates back to 2000 and through 2018.

#3. Compute 1-day return based on the “Adj Close” column.  Also compute the open-to-close (“day”) returns and the close-to-open (“night”) returns for both files. Note the night time return is computed differently due to price adjustments.

## How does one find the close-to-close net stock return using the adjusted closing price?

https://finance.zacks.com/stock-return-using-adjusted-closing-price-11628.html


---


Let P(t) equal the current 
Adjusted closing price. 

* The NET CLOSE-TO-CLOSE RETURN, R(t), would be:

      R(t)   = [P(t) - P(t-1)]/P(t-1)
             = [P(t)/P(t-1)] - 1
             = (GROSS CLOSE-TO-CLOSE RETURN) - 1
* We use the pct_change() method to calculate net return.

In [0]:
spy['Returns'] = spy['Adj_Close'].pct_change(1)
spy.head()

                Open      High       Low  ...  Adj_Close   Volume   Returns
Date                                      ...
1993-01-29  43.96875  43.96875  43.75000  ...  26.706757  1003200       NaN
1993-02-01  43.96875  44.25000  43.96875  ...  26.896694   480500  0.007112
1993-02-02  44.21875  44.37500  44.12500  ...  26.953669   201300  0.002118
1993-02-03  44.40625  44.84375  44.37500  ...  27.238594   529400  0.010571
1993-02-04  44.96875  45.09375  44.46875  ...  27.352570   531500  0.004184

[5 rows x 7 columns]

In [0]:
naesx['Returns'] = naesx['Adj_Close'].pct_change(1)
naesx.head()

                 Open       High        Low  ...  Adj_Close  Volume   Returns
Date                                         ...
2000-01-01  23.240000  24.959999  22.230000  ...  15.902856       0       NaN
2000-02-01  23.549999  27.030001  23.549999  ...  18.528204       0  0.165087
2000-03-01  27.530001  28.360001  24.680000  ...  17.150412       0 -0.074362
2000-04-01  23.969999  25.219999  21.070000  ...  16.259209       0 -0.051964
2000-05-01  24.120001  24.120001  21.230000  ...  15.319451       0 -0.057799

[5 rows x 7 columns]

##Open-to-Close ("Day") Net Returns
#### https://pdfs.semanticscholar.org/4621/0abed0b369a84e10b7e00beb850f64483565.pdf
---
Let P(t) equal the adjusted closing price AND let O(t) equal the adjusted open price.


* The NET "DAY" RETURN, D(t), would be:

      D(t)   = [P(t) - O(t)]/O(t)
             = [P(t)/O(t)] - 1
             = (GROSS "DAY" RETURN) - 1

In [0]:
spy['Day_Returns'] = spy['Close']/spy['Open'] - 1

In [0]:
naesx['Day_Returns'] = naesx['Close']/naesx['Open'] - 1

##Close-to-Open (“Night”) Net Returns
#### https://pdfs.semanticscholar.org/4621/0abed0b369a84e10b7e00beb850f64483565.pdf

---


* The NET "NIGHT" RETURN, N(t), would be:

      N(t)   = {[(R(t) + 1) - (D(t) + 1)]/(D(t) + 1)} - 1
             = [(R(t) + 1)/(D(t) + 1)] - 1
             = [(GROSS 1-DAY RETURN)/(GROSS "DAY" RETURN)]  - 1

In [0]:
spy['Night_Returns'] = (spy['Returns'] + 1)/(spy['Day_Returns'] + 1) - 1

In [0]:
naesx['Night_Returns'] = (naesx['Returns'] + 1)/(naesx['Day_Returns'] + 1) - 1

#4.     Create a new column named “EOM3” that is equal to 0 on all days except for the third business day before the end of the month.  On those days, the EOM3 column should equal 1.   For example, if the last three business days of the month are the 27th, 28th, and 29th, then the 27th would have EOM3=1 and all other days will have EOM3=0. (this will require a groupby, .nth()).

In [0]:
# Let's grouping by year/month and then look at the data corresponding to the last three business days of each month using .nth() 
# method
spy.groupby([spy.index.year, spy.index.month]).nth(-3)

                 Open        High  ...  Day_Returns  Night_Returns
Date Date                          ...
1993 2      43.718750   44.250000  ...     0.012152       0.000715
     3      44.937500   45.312500  ...     0.003477       0.000696
     4      43.812500   43.906250  ...    -0.000713      -0.001425
     5      45.156250   45.625000  ...     0.009689       0.002776
     6      45.000000   45.281250  ...     0.006250       0.004885
...               ...         ...  ...          ...            ...
2019 4     292.100006  293.489990  ...     0.004485       0.000171
     5     278.910004  279.359985  ...    -0.002295      -0.004426
     6     291.750000  292.309998  ...    -0.004387       0.003405
     7     301.880005  302.010010  ...    -0.001391      -0.000430
     8     293.230011  293.929993  ...    -0.002967       0.002667

[319 rows x 9 columns]

In [0]:
spy = spy.reset_index() 
# Create column and input a 1 in the row if the date in the grouping we made before). Otherwise, we jsut input 0.
spy['EOM3'] = np.where(spy['Date'].isin(spy['Date'].groupby([spy.Date.dt.year, spy.Date.dt.month]).nth(-3)),1,0)
# Set our index to Date and check if it works
spy.set_index(spy['Date'], inplace=True)
del spy['Date']
spy # It seems to work

                  Open        High  ...  Night_Returns  EOM3
Date                                ...
1993-01-29   43.968750   43.968750  ...            NaN     0
1993-02-01   43.968750   44.250000  ...       0.000711     0
1993-02-02   44.218750   44.375000  ...      -0.000707     0
1993-02-03   44.406250   44.843750  ...       0.001410     0
1993-02-04   44.968750   45.093750  ...       0.003487     0
...                ...         ...  ...            ...   ...
2019-08-20  291.769989  292.359985  ...      -0.001916     0
2019-08-21  292.480011  292.859985  ...       0.008239     0
2019-08-22  293.230011  293.929993  ...       0.002667     1
2019-08-23  290.920013  292.760010  ...      -0.004925     0
2019-08-26  287.269989  288.000000  ...       0.008496     0

[6692 rows x 10 columns]

In [0]:
# The spy dataset only goes up to 2019-08-26. Hence, we must make sure that
# that EOM3 for 2019-08-22 is equal to 0 given that this date is not, in 
# reality, the third business day from the end of the month.
spy['EOM3'].loc['2019-08-22'] = 0

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

#5. Compute the average return (close-to-close, day, and night) over all days and only over the EOM3=1 subset. Determine which strategy would be better, either buying and selling every day, or only buying and selling on the third business day before the end of the month.

##Average Return (Close-to-Close, Day, and Night) over all days

In [0]:
spy['Returns'].mean()

0.00042131478793153496

In [0]:
spy['Day_Returns'].mean()

2.440029292587805e-05

In [0]:
spy['Night_Returns'].mean()

0.0003970248365419767

##Average Return (Close-to-Close, Day, and Night) over the EOM3=1 subset.

In [0]:
spy['Returns'][spy['EOM3'] == 1].mean()

0.0010073227652656694

In [0]:
spy['Day_Returns'][spy['EOM3']==1].mean()

-1.3662315853206163e-05

In [0]:
spy['Night_Returns'][spy['EOM3']==1].mean()

0.0010183847781704634

#6. Create a portfolio, which will be a new dataframe, where you hold some percentage of SPY and some percentage of NAESX, you decide. Then compute the MONTHLY returns of your strategy. This will require merging; to compute monthly returns of daily data you can use groupby and .cumprod() or .prod() method.

##Computing Monthly returns using cum.prod()

In [0]:
spy['Gross_Returns'] = spy['Returns']+1
spy['Monthly_Returns'] =spy.groupby([spy.index.year, spy.index.month]).Gross_Returns.cumprod()-1

##Calculating cumulative close-to-close, day, and night returns

In [0]:
spy['cumFull_Return'] = (spy['Returns']+1).cumprod()
spy['cumDay_Return']   = (spy['Day_Returns']+1).cumprod()
spy['cumNight_Return'] = (spy['Night_Returns']+1).cumprod()

##Merge the "naesx" and "spy" dataframes

In [0]:
merged_df = pd.merge(spy, naesx, how='inner', left_on=spy.index, right_on=naesx.index, suffixes=('_spy', '_naesx'))
merged_df

         key_0    Open_spy  ...  Day_Returns_naesx  Night_Returns_naesx
0   2000-02-01  139.750000  ...           0.147771             0.015086
1   2000-03-01  137.625000  ...          -0.091173             0.018498
2   2000-05-01  146.562500  ...          -0.080846             0.025074
3   2000-06-01  143.687500  ...           0.058464             0.033830
4   2000-08-01  143.625000  ...           0.082045            -0.005553
..         ...         ...  ...                ...                  ...
138 2018-02-01  281.070007  ...          -0.042518             0.001924
139 2018-03-01  271.410004  ...           0.012950            -0.004441
140 2018-05-01  263.869995  ...           0.047572             0.002973
141 2018-06-01  272.410004  ...          -0.002541             0.007681
142 2018-08-01  281.559998  ...           0.036749            -0.000395

[143 rows x 25 columns]

##Now, to make our portfolio and proceed to calculate monthly returns, we can just make a dataframe that hold the Adjusted Close Price data for SPY and NAESX.

In [0]:
prtf = pd.DataFrame(merged_df, columns=['key_0', 'Adj_Close_spy', 'Adj_Close_naesx'])
prtf.set_index('key_0', inplace=True)
prtf

            Adj_Close_spy  Adj_Close_naesx
key_0
2000-02-01      97.811455        18.528204
2000-03-01      96.076462        17.150412
2000-05-01     102.321617        15.319451
2000-06-01     101.104042        16.763649
2000-08-01     100.339561        17.406275
...                   ...              ...
2018-02-01     273.787720        69.474571
2018-03-01     260.291840        70.061737
2018-05-01     258.679016        74.054916
2018-06-01     267.094025        74.434120
2018-08-01     275.412537        78.709999

[143 rows x 2 columns]

###Our SPY portfolio weight will be 0.6

In [0]:
prtf['Weight_spy'] = 0.6
# Monthly retruns for SPY 
prtf['Returns_spy'] = prtf['Adj_Close_spy'].pct_change(1)
prtf

            Adj_Close_spy  Adj_Close_naesx  Weight_spy  Returns_spy
key_0
2000-02-01      97.811455        18.528204         0.6          NaN
2000-03-01      96.076462        17.150412         0.6    -0.017738
2000-05-01     102.321617        15.319451         0.6     0.065002
2000-06-01     101.104042        16.763649         0.6    -0.011899
2000-08-01     100.339561        17.406275         0.6    -0.007561
...                   ...              ...         ...          ...
2018-02-01     273.787720        69.474571         0.6     0.070178
2018-03-01     260.291840        70.061737         0.6    -0.049293
2018-05-01     258.679016        74.054916         0.6    -0.006196
2018-06-01     267.094025        74.434120         0.6     0.032531
2018-08-01     275.412537        78.709999         0.6     0.031145

[143 rows x 4 columns]

###Our NAESX portfolio weight will be 0.4

In [0]:
prtf['Weight_naesx'] = 0.4
# Monthly return for NAESX
prtf['Returns_naesx'] = prtf['Adj_Close_naesx'].pct_change(1)
prtf

            Adj_Close_spy  Adj_Close_naesx  ...  Weight_naesx  Returns_naesx
key_0                                       ...
2000-02-01      97.811455        18.528204  ...           0.4            NaN
2000-03-01      96.076462        17.150412  ...           0.4      -0.074362
2000-05-01     102.321617        15.319451  ...           0.4      -0.106759
2000-06-01     101.104042        16.763649  ...           0.4       0.094272
2000-08-01     100.339561        17.406275  ...           0.4       0.038334
...                   ...              ...  ...           ...            ...
2018-02-01     273.787720        69.474571  ...           0.4      -0.008495
2018-03-01     260.291840        70.061737  ...           0.4       0.008452
2018-05-01     258.679016        74.054916  ...           0.4       0.056995
2018-06-01     267.094025        74.434120  ...           0.4       0.005121
2018-08-01     275.412537        78.709999  ...           0.4       0.057445

[143 rows x 6 columns]

###Drop every "NA" and return our new portfolio

In [0]:
prtf.dropna(inplace=True)
prtf.head()

            Adj_Close_spy  Adj_Close_naesx  ...  Weight_naesx  Returns_naesx
key_0                                       ...
2000-03-01      96.076462        17.150412  ...           0.4      -0.074362
2000-05-01     102.321617        15.319451  ...           0.4      -0.106759
2000-06-01     101.104042        16.763649  ...           0.4       0.094272
2000-08-01     100.339561        17.406275  ...           0.4       0.038334
2000-09-01     106.354683        16.888020  ...           0.4      -0.029774

[5 rows x 6 columns]

##Now we can simpy calculate our portfolio returns:
(SPY_weight * SPY_monthly_return) + (NAESX_weight * NAESX_monthly_return)

In [0]:
prtf['Portfolio_Returns'] = prtf['Weight_spy']*prtf['Returns_spy'] + prtf['Weight_naesx']*prtf['Returns_naesx']
prtf

            Adj_Close_spy  Adj_Close_naesx  ...  Returns_naesx  Portfolio_Returns
key_0                                       ...
2000-03-01      96.076462        17.150412  ...      -0.074362          -0.040388
2000-05-01     102.321617        15.319451  ...      -0.106759          -0.003702
2000-06-01     101.104042        16.763649  ...       0.094272           0.030569
2000-08-01     100.339561        17.406275  ...       0.038334           0.010797
2000-09-01     106.354683        16.888020  ...      -0.029774           0.024059
...                   ...              ...  ...            ...                ...
2018-02-01     273.787720        69.474571  ...      -0.008495           0.038709
2018-03-01     260.291840        70.061737  ...       0.008452          -0.026195
2018-05-01     258.679016        74.054916  ...       0.056995           0.019080
2018-06-01     267.094025        74.434120  ...       0.005121           0.021567
2018-08-01     275.412537        78.709999  ...       0.057445           0.041665

[142 rows x 7 columns]

#7. Run a linear regression, using StatsModels or SkLearn to forecast next month’s return of your portfolio using a two month (you could do longer if you want) lag of previous returns. Be sure to create a train and a test set, you should also create a validation set to do cross-validation (i.e. backtest). (this will require you to create a feature matrix where the features are the lagged returns, and a response vector which is the returns). Note a typical k-fold cross validation will not work on time series because of the ordering of time!

In [0]:
X = pd.DataFrame()
for i in range(1,3):
    X['portfolio_return t'+str(-i)] = prtf['Portfolio_Returns'].shift(i)
    
X

            portfolio_return t-1  portfolio_return t-2
key_0
2000-03-01                   NaN                   NaN
2000-05-01             -0.040388                   NaN
2000-06-01             -0.003702             -0.040388
2000-08-01              0.030569             -0.003702
2000-09-01              0.010797              0.030569
...                          ...                   ...
2018-02-01              0.015733              0.046685
2018-03-01              0.038709              0.015733
2018-05-01             -0.026195              0.038709
2018-06-01              0.019080             -0.026195
2018-08-01              0.021567              0.019080

[142 rows x 2 columns]

In [0]:
# Let's drop NAs
X.dropna(inplace=True)
X # X = the portfolio returns that were lagged by 2 months

            portfolio_return t-1  portfolio_return t-2
key_0
2000-06-01             -0.003702             -0.040388
2000-08-01              0.030569             -0.003702
2000-09-01              0.010797              0.030569
2000-11-01              0.024059              0.010797
2000-12-01             -0.094687              0.024059
...                          ...                   ...
2018-02-01              0.015733              0.046685
2018-03-01              0.038709              0.015733
2018-05-01             -0.026195              0.038709
2018-06-01              0.019080             -0.026195
2018-08-01              0.021567              0.019080

[140 rows x 2 columns]

In [0]:
y = prtf['Portfolio_Returns'].iloc[2:]
y # y = portfolio returns

key_0
2000-06-01    0.030569
2000-08-01    0.010797
2000-09-01    0.024059
2000-11-01   -0.094687
2000-12-01   -0.072529
                ...
2018-02-01    0.038709
2018-03-01   -0.026195
2018-05-01    0.019080
2018-06-01    0.021567
2018-08-01    0.041665
Name: Portfolio_Returns, Length: 140, dtype: float64

##We now make our training and test sets

In [0]:
# For a 80% train and 20% test split, what index what I need to start split at?
len(y)*0.8

112.0

In [0]:
X_train = X[:113]
X_test = X[113:]
y_train = y[:113]
y_test = y[113:]

##Now we begin predicting portfolio returns with a linear regression model

In [0]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
predictor = model.fit(X_train, y_train) # train linear regression model

predictor.predict(X_test) # predict portfolio returns

array([ 0.01242829,  0.00837646,  0.00643967, -0.00715038,  0.01166351,
        0.01653394, -0.00302841,  0.01471193,  0.01544715,  0.01182634,
        0.01245173,  0.01241663,  0.00873248,  0.00879623,  0.01519543,
        0.0144104 ,  0.01384348,  0.00864977,  0.01154778,  0.01089885,
        0.01136195,  0.01642631,  0.01168465,  0.01503508,  0.00438289,
        0.0109133 ,  0.01217155])

#8. Evaluate performance of this predictor on a validation or test set using the square root of the mean square error and R^2.

##RMSE Evaluation

In [0]:
from sklearn.metrics import mean_squared_error

np.sqrt(mean_squared_error(predictor.predict(X_test), y_test))

0.0332379892727263

# The RMSE is rather high given the set of values predicted portfolio returns we got.

##R^2 Evaluation

In [0]:
# Initialize a new dataframe holding portfolio returns for OLS (R^2 assessment)
prtf_Returns = pd.DataFrame()

prtf_Returns['return_t'] = prtf['Portfolio_Returns'] # Our response variable values
prtf_Returns['return_lag'] = prtf['Portfolio_Returns'].shift() # Lagged portfolio returns by one month
prtf_Returns['return_laglag'] = prtf['Portfolio_Returns'].shift(2) # Lagged portfolio returns by 2 months

prtf_Returns.dropna(inplace=True) # Drop NAs
prtf_Returns.head() # Return portfolio returns

            return_t  return_lag  return_laglag
key_0
2000-06-01  0.030569   -0.003702      -0.040388
2000-08-01  0.010797    0.030569      -0.003702
2000-09-01  0.024059    0.010797       0.030569
2000-11-01 -0.094687    0.024059       0.010797
2000-12-01 -0.072529   -0.094687       0.024059

####OLS ANALYSIS

In [0]:
import statsmodels.formula.api as sm
# OLS REGRESSION RESULTS
results = sm.ols('return_t ~ return_lag + return_laglag', data=prtf_Returns).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               return_t   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     1.611
Date:                Fri, 13 Dec 2019   Prob (F-statistic):              0.203
Time:                        18:37:25   Log-Likelihood:                 222.20
No. Observations:                 140   AIC:                            -438.4
Df Residuals:                     137   BIC:                            -429.6
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.0090      0.004      2.064      0.041       0.000       0.018
return_lag        0.1498      0.086      1.751      0.082      -0.019       0.319
return_laglag     0.0107      0.085      0.126      0.900      -0.158       0.179
==============================================================================
Omnibus:                       34.560   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.931
Skew:                          -1.180   Prob(JB):                     2.63e-13
Kurtosis:                       5.089   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Our R^2 is very weak (meaning our model performs poorly when it comes to explaing the variation in the data) and we can see from our p-value that these lagged predictors aren't really statistically significant.